<div style="text-align: center;" *ngIf="load_camiones || load_choferes || load_condicion_iva || load_transportistas">
    <br><br><br><br><p-progressSpinner></p-progressSpinner><br><br>
</div>


<!-- TABLAS (transp, chofer y camiones) -->
<br>
<div class="formgrid row">
    <div class="field col">
        <p-card header="Transporte">
            <button pButton pRipple type="button" label="NUEVO" class="p-button-success bott" (click)="nuevoTransportista()"></button>
            <p-listbox [options]="db_transportistas" [(ngModel)]="transportista" [metaKeySelection]="false"
                [checkbox]="false" [filter]="true" [multiple]="false" optionLabel="alias"
                [listStyle]="{'max-height':'490px'}" [style]="{'width':'100%'}" (onChange)="onSelectTransporte()">
                <ng-template let-transport pTemplate="item">
                    <div class="transport-item" (dblclick)="editarTransportista(transport)">
                        <div>{{transport.alias}} - {{transport.cuit}}</div>
                    </div>
                </ng-template>
            </p-listbox>
        </p-card>
    </div>
    <div class="field col">
        <p-card header="Chofer">
            <button pButton pRipple type="button" label="NUEVO" class="p-button-success bott" (click)="nuevoChofer()"></button>
            <p-listbox [options]="select_choferes" [(ngModel)]="chofer" [metaKeySelection]="false"
                [checkbox]="false" [filter]="true" [multiple]="false" optionLabel="alias"
                [listStyle]="{'max-height':'490px'}" [style]="{'width':'100%'}">
                <ng-template let-fercho pTemplate="item">
                    <div class="fercho-item" (dblclick)="editarChofer(fercho)">
                        <div>{{fercho.alias}} - {{fercho.cuit}}</div>
                    </div>
                </ng-template>
            </p-listbox>
        </p-card>
    </div>
    <div class="field col">
        <p-card header="Camion">
            <button pButton pRipple type="button" label="NUEVO" class="p-button-success bott" (click)="nuevoCamion()"></button>
            <p-listbox [options]="select_camiones" [(ngModel)]="camion" [metaKeySelection]="false"
                [checkbox]="false" [filter]="true" [multiple]="false" optionLabel="alias"
                [listStyle]="{'max-height':'490px'}" [style]="{'width':'100%'}">
                <ng-template let-unidad pTemplate="item">
                    <div class="unidad-item" (dblclick)="editarCamion(unidad)">
                        <div>{{unidad.alias}} - {{unidad.modelo}}</div>
                    </div>
                </ng-template>
            </p-listbox>
        </p-card>
    </div>
</div>



<!-- TRANSPORTISTA. MODAL Y DIALOGOS (PARA GUARDAR/EDITAR) -->
<p-dialog header="TRANSPORTISTA" [(visible)]="displayTransportista" [modal]="true" [style]="{width: '1100px', height: '700px'}"
    [draggable]="true" [resizable]="true" [maximizable]="true">
    <div class="formgrid row">
        <div class="col-3">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Cód.</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosTransportista.codigo"/>
            </div>
        </div>
        <div class="col-9">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Alias</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosTransportista.alias"/>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div style="text-align: center;" *ngIf="spinnerCUIT">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <br>
    <div class="formgrid row">
        <div class="col-4">
            <div class="p-inputgroup">
                <input type="number" pInputText placeholder="CUIT" (keydown.enter)="buscarCUIT()" [(ngModel)]="datosTransportista.cuit">   
                <button (click)="buscarCUIT()" type="button" pButton pRipple label="BUSCAR" styleClass="p-button-warn"></button>      
            </div>
        </div>
        <div class="col-4">
            <p-dropdown [options]="tipoPersonaOptions" [(ngModel)]="datosTransportista.tipoPersona"></p-dropdown>
        </div>
        <div class="col-4">
            <p-dropdown [options]="db_condicion_iva" [(ngModel)]="datosTransportista.condicion_iva" optionLabel="descripcion" optionValue="id"></p-dropdown>
        </div>
    </div>
    <br>
    <div class="formgrid row" *ngIf="datosTransportista.tipoPersona == 'FISICA'"> 
        <div class="col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Nombre/s</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosTransportista.nombre" />  
            </div>
        </div>
        <div class="col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Apellido</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosTransportista.apellido" />  
            </div>
        </div>
    </div>
    <div class="formgrid row" *ngIf="datosTransportista.tipoPersona != 'FISICA'"> 
        <div class="col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Razon Social</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosTransportista.razon_social" />  
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <span>Direccion:</span>
    <div class="formgrid row"> 
        <div class="col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Direccion</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosTransportista.direccion" />  
            </div>
        </div>
    </div>
    <br>
    <div class="formgrid row"> 
        <div class="col-5">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Localidad</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosTransportista.localidad"/>  
            </div>
        </div>
        <div class="col-3">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">C.P.</span>
                <input type="text" class="p-inputtext-sm" [(ngModel)]="datosTransportista.codigoPostal" pInputText />  
            </div>
        </div>
        <div class="col-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Provincia</span>
                <input type="text" class="p-inputtext-sm" [(ngModel)]="datosTransportista.descripcionProvincia" pInputText />  
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="GUARDAR" class="p-button-success bott" (click)="guardarTransportista()"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott" (click)="displayTransportista = false"></button>
    </ng-template>
</p-dialog>
<p-toast position="bottom-center" key="confirmGuardarTransp" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="row">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirm()" label="SI" class="p-button-success"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onReject()" label="NO" class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="bottom-center" key="confirmModificarTransp" (onClose)="onRejectModificar()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="row">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirmModificar()" label="SI" class="p-button-success"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onRejectModificar()" label="NO" class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<!-- CHOFER. MODAL Y DIALOGOS (PARA GUARDAR/EDITAR) -->
<p-dialog header="CHOFER" [(visible)]="displayChofer" [modal]="true" [style]="{width: '1100px', height: '500px'}"
    [draggable]="true" [resizable]="true" [maximizable]="true">
    <div class="formgrid row">
        <div class="col-3">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Cód.</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosChofer.codigo"/>
            </div>
        </div>
        <div class="col-9">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Alias</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosChofer.alias"/>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div style="text-align: center;" *ngIf="spinnerChoferCUIT">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <br>
    <div class="formgrid row">
        <div class="col-4">
            <div class="p-inputgroup">
                <input type="number" pInputText placeholder="CUIT" (keydown.enter)="buscarChoferCUIT()" [(ngModel)]="datosChofer.cuit">   
                <button (click)="buscarChoferCUIT()" type="button" pButton pRipple label="BUSCAR" styleClass="p-button-warn"></button>      
            </div>
        </div>
    </div>
    <br>
    <div class="formgrid row"> 
        <div class="col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Razon Social</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosChofer.razon_social" />  
            </div>
        </div>
    </div>
    <br>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="GUARDAR" class="p-button-success bott" (click)="guardarChofer()"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott" (click)="displayChofer = false"></button>
    </ng-template>
</p-dialog>
<p-toast position="bottom-center" key="confirmGuardarChofer" (onClose)="onRejectChofer()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="row">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirmChofer()" label="SI" class="p-button-success"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onRejectChofer()" label="NO" class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="bottom-center" key="confirmModificarChofer" (onClose)="onRejectModificarChofer()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="row">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirmModificarChofer()" label="SI" class="p-button-success"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onRejectModificarChofer()" label="NO" class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<!-- CAMION. MODAL Y DIALOGOS (PARA GUARDAR/EDITAR) -->
<p-dialog header="CAMION" [(visible)]="displayCamion" [modal]="true" [style]="{width: '1100px', height: '500px'}"
    [draggable]="true" [resizable]="true" [maximizable]="true">
    <div class="formgrid row">
        <div class="col-3">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Cód.</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosCamion.codigo"/>
            </div>
        </div>
        <div class="col-9">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Alias</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosCamion.alias"/>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="formgrid row"> 
        <div class="col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Patente Chasis</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosCamion.patente_chasis" />  
            </div>
        </div>
        <div class="col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Patente Acoplado</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosCamion.patente_acoplado" />  
            </div>
        </div>
        <div class="col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Patente Otro</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosCamion.patente_otro" />  
            </div>
        </div>
    </div>
    <br>
    <div class="formgrid row"> 
        <div class="col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Modelo/Obs</span>
                <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="datosCamion.modelo" />  
            </div>
        </div>
        <div class="col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">KG TARA</span>
                <input type="number" class="p-inputtext-sm" pInputText [(ngModel)]="datosCamion.kg_tara" />  
            </div>
        </div>
    </div>
    <br>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="GUARDAR" class="p-button-success bott" (click)="guardarCamion()"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott" (click)="displayCamion = false"></button>
    </ng-template>
</p-dialog>
<p-toast position="bottom-center" key="confirmGuardarCamion" (onClose)="onRejectCamion()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="row">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirmCamion()" label="SI" class="p-button-success"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onRejectCamion()" label="NO" class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="bottom-center" key="confirmModificarCamion" (onClose)="onRejectModificarCamion()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="row">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirmModificarCamion()" label="SI" class="p-button-success"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onRejectModificarCamion()" label="NO" class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>