<div style="text-align: center;" *ngIf="load_transportistas || load_asientos || load_socios">
    <br><br><br><br><p-progressSpinner></p-progressSpinner><br><br><br><br>
</div>

<div style="margin: 15px;">






    <div class="formgrid row">
        <div class="field col">
            <select class="select-class" style="width: 100%" [(ngModel)]="socioSeleccionado">
                <option *ngFor="let socio of db_socios" value={{socio.id}}>{{socio.razon_social}}
                </option>
            </select>
        </div>
        <div class="field col">
            <button pButton pRipple type="button" label="BUSCAR" class="p-button-info bott" (click)="buscarSaldosTransportistas()"></button>
        </div>
        <div class="field col">
        </div>
        <div class="field col">
        </div>
        <div class="field col">
        </div>
    </div>

    <br>

    <div class="formgrid row">
        <div class="field col">
            <label for="ctasSinMov" style="margin: 0px 10px 0px 30px;">Ctas sin mov:</label>
            <input id="ctasSinMov" type="checkbox" [(ngModel)]="selectCtasSinMov">
        </div>
        <div class="field col">
            <label for="saldCero" style="margin: 0px 10px 0px 30px;">Saldos igual a cero:</label>
            <input id="saldCero" type="checkbox" [(ngModel)]="selectCtasCero">
        </div>
        <div class="field col">
            <label for="ctasAc" style="margin: 0px 10px 0px 30px;">Ctas Acreed.:</label>
            <input id="ctasAc" type="checkbox" [(ngModel)]="selectCtasAcreedoras">
        </div>
        <div class="field col">
            <label for="ctasDe" style="margin: 0px 10px 0px 30px;">Ctas Deud.:</label>
            <input id="ctasDe" type="checkbox" [(ngModel)]="selectCtasDeudoras">
        </div>
        <div class="field col">
            <label for="ordenar" style="margin: 0px 10px 0px 30px;">ORD.:</label>
            <select id="ordenar" [(ngModel)]="ordenarPor" style="width: 60%;">
                <option value="codigo">Cod</option>
                <option value="razon_social">Razon Social</option>
                <option value="cuit">CUIT</option>
                <option value="ingreso">Ingresos</option>
                <option value="gasto">Gastos</option>
                <option value="saldo">SALDO</option>
            </select>
        </div>
        <div class="field col">
            <label for="diff" style="margin: 0px 10px 0px 30px;">Dif.:</label>
            <input id="diff" type="number" [(ngModel)]="diferencia">
        </div>
    </div>



    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>

    <br><br>


    <h5>Saldos transportistas - {{transformarDatoMostrarTabla(socioSeleccionado, 'socio')}}</h5>
    <table>
        <thead>
            <tr>
                <th>Cod.</th>
                <th>Transportista</th>
                <th>CUIT</th>
                <th>Ingresos</th>
                <th>Gastos</th>
                <th>SALDO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dato of datosCuentasTransportistas">
                <td>{{dato.codigo}}</td>
                <td>{{dato.razon_social}}</td>
                <td>{{dato.cuit}}</td>
                <td>{{transformarDatoMostrarTabla(dato.ingreso, 'moneda')}}</td>
                <td>{{transformarDatoMostrarTabla(dato.gasto, 'moneda')}}</td>
                <td class="{{dato.saldo < 0 ? 'colorRojo' : 'colorVerde'}}">
                    <strong>{{transformarDatoMostrarTabla(dato.saldo, 'moneda')}}</strong></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">Total</th>
                <td><strong>{{transformarDatoMostrarTabla(datosCuentaCorrienteTotales.ingreso, 'moneda')}}</strong></td>
                <td><strong>{{transformarDatoMostrarTabla(datosCuentaCorrienteTotales.gasto, 'moneda')}}</strong></td>
                <td><strong>{{transformarDatoMostrarTabla(datosCuentaCorrienteTotales.saldo, 'moneda')}}</strong></td>
            </tr>
        </tfoot>
    </table>

</div>