<div style="text-align: center;"
    *ngIf="load_camiones || load_choferes || load_condicion_iva || load_socios || load_transportistas || load_campanas || load_depositos || load_establecimientos || load_gastos || load_granos || load_banderas || load_corredores || load_acopios || load_movimientos">
    <br><br><br><br><p-progressSpinner></p-progressSpinner><br><br>
</div>

<button pButton pRipple type="button" label="FILTROS" class="p-button-success bott"
    (click)="displayFiltros=true"></button>

<button pButton pRipple type="button" label="NUEVO VIAJE" class="p-button-success bott"
    (click)="nuevoMovimiento()"></button>

<button pButton pRipple type="button" label="BANDERAS" class="p-button-success bott"
    (click)="displayBanderas=true"></button>

<button pButton pRipple type="button" label="NUEVA OC" class="p-button-success bott"
    (click)="nuevaOrdenCarga()"></button>

<button pButton pRipple type="button" label="COLUMNAS" class="p-button-success bott"
    (click)="displayVistas=true"></button>

<br><br>

<p-table [columns]="selectedColumns" [value]="dataParaMostrarTabla" selectionMode="single"
    [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
    [paginator]="true" [rows]="25" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [rowsPerPageOptions]="[10,25,50,100,1000,3000]">
    <ng-template pTemplate="caption">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} columnas seleccionadas" [style]="{'min-width': '300px'}"
            placeholder="Seleccionar columnas"></p-multiSelect>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro let-columns="columns">
        <tr (dblclick)="mostrarMovimiento(registro)">
            <td *ngFor="let col of columns">
                {{transformarDatoMostrarTabla(registro, col.field)}}
                <div *ngIf="col.field == 'orden'">
                    <button class="button-tabla"><i class="pi pi-download"></i></button>
                    <button class="button-tabla"><i class="pi pi-eye"></i></button>
                </div>
                <div *ngIf="col.field == 'ctg' && permiteCrearCTG[registro.id]">
                    <button class="button-tabla" (click)="abrirModalCrearCPE(registro)"><i
                            class="pi pi-plus-circle"></i></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<br><br>

<!-- p-dialog header="FILTROS" [(visible)]="displayFiltros" [modal]="true" [style]="{width: '95vw'}" [draggable]="true"
    [resizable]="false">

    <div class="formgrid row">
        <div class="field col">
            <div class="field">
                <label>ASD</label><br>
                <p-listbox [options]="select_choferes" [(ngModel)]="datosMovimiento.id_chofer"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name"
                    [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>ASD</label><br>
                <p-listbox [options]="select_choferes" [(ngModel)]="datosMovimiento.id_chofer"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name"
                    [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>ASD</label><br>
                <p-listbox [options]="select_choferes" [(ngModel)]="datosMovimiento.id_chofer"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name"
                    [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>ASD</label><br>
                <p-listbox [options]="select_choferes" [(ngModel)]="datosMovimiento.id_chofer"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name"
                    [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
    </div>

    <div class="formgrid row">
        <div class="field col">
            <div class="field">
                <label>ASD</label><br>
                <p-listbox [options]="select_choferes" [(ngModel)]="datosMovimiento.id_chofer"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name"
                    [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>ASD</label><br>
                <p-listbox [options]="select_choferes" [(ngModel)]="datosMovimiento.id_chofer"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name"
                    [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>ASD</label><br>
                <p-listbox [options]="select_choferes" [(ngModel)]="datosMovimiento.id_chofer"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name"
                    [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>ASD</label><br>
                <p-listbox [options]="select_choferes" [(ngModel)]="datosMovimiento.id_chofer"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name"
                    [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
    </div>



    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="FILTRAR" class="p-button-success bott" (click)="guardarPlantilla()"></button>
        <button pButton pRipple type="button" label="QUITAR FILTROS" class="p-button-danger bott" (click)="borrarPlantilla()"></button>
    </ng-template>
</p-dialog !-->


<p-dialog header="{{datosMovimiento.id ? 'EDITAR' : 'NUEVO'}} MOVIMIENTO - VIAJE" [(visible)]="displayNuevoMovimiento"
    [modal]="true" [style]="{width: '95vw', height: '90vw'}" [draggable]="true" [resizable]="true" [maximizable]="true">
    <div class="formgrid row">
        <div class="field col">
            <div class="field">
                <label>Fecha</label><br>
                <input type="date" [(ngModel)]="datosMovimiento.fecha" class="select-class">
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Campaña</label><br>
                <select [(ngModel)]="datosMovimiento.id_campana" class="select-class">
                    <option *ngFor="let campana of db_campanas" value="{{campana.id}}">{{campana.descripcion}}</option>
                </select>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Bandera</label><br>
                <select [(ngModel)]="datosMovimiento.id_bandera" class="select-class">
                    <option *ngFor="let bandera of db_banderas" value="{{bandera.id}}">
                        <i class="pi {{bandera.icono}}" [style]="{color: bandera.color}"></i> {{bandera.alias}}
                    </option>
                </select>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Beneficiario</label><br>
                <select [(ngModel)]="datosMovimiento.id_socio" class="select-class">
                    <option *ngFor="let socio of db_socios" value="{{socio.id}}">{{socio.alias}}</option>
                </select>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Origen</label>
                <select [(ngModel)]="datosMovimiento.id_origen" class="select-class">
                    <option *ngFor="let est of db_establecimientos" value="{{est.id}}">{{est.alias}}</option>
                </select>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Grano</label>
                <select [(ngModel)]="datosMovimiento.id_grano" class="select-class">
                    <option *ngFor="let grano of db_granos" value="{{grano.id}}">{{grano.alias}}</option>
                </select>
            </div>
        </div>

        <div class="field col">
            <div class="field">
                <label>Desde</label><br>
                <button *ngFor=" let desde of optionsDe" (click)="datosMovimiento.tipo_origen = desde.id"
                    class="{{datosMovimiento.tipo_origen == desde.id ? 'select-button-active' : 'select-button-disabled'}}">{{desde.label}}</button>
            </div>
        </div>
    </div>
    <p-divider align="left">
        <b>Transporte</b>
    </p-divider>
    <div class="formgrid row">
        <div class="field col-4">
            <div class="tarjeta">
                <h6>Transporte: <button (click)="actualizarTransportistas()" class="button-tabla"><i
                            class="pi pi-refresh"></i></button></h6>
                <div class="formgrid row">
                    <div class="field col-3">
                        <label>Codigo</label><br>
                        <input [(ngModel)]="cod_transporte" class="input-text-codigo" type="text"
                            (keyup.enter)="buscarTransporte()" />
                    </div>
                    <div class="field col-9">
                        <label>Seleccionar:</label><br>
                        <select [(ngModel)]="datosMovimiento.id_transporte" class="select-class"
                            (ngModelChange)="onSelectTransporte()" style="width: 300px;">
                            <option *ngFor="let transp of db_transportistas" value="{{transp.id}}">{{transp.alias}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <p>Transp.: <strong *ngIf="transportista">{{transportista.razon_social}}</strong></p>
                <p>CUIT: <strong *ngIf="transportista">{{transportista.cuit}}</strong></p>
                <p>IVA: <strong *ngIf="transportista">{{transformarDatoMostrar(transportista.condicion_iva,
                        'condicion_iva')}}</strong></p>
            </div>
        </div>
        <div class="field col-3">
            <div class="tarjeta">
                <h6>Chofer: <button (click)="actualizarChoferes()" class="button-tabla"><i
                            class="pi pi-refresh"></i></button></h6>
                <div class="formgrid row">
                    <div class="field col-3">
                        <label>Codigo</label><br>
                        <input [(ngModel)]="cod_chofer" class="input-text-codigo" type="text"
                            (keyup.enter)="buscarChofer()" style="width: 85px;" />
                    </div>
                    <div class="field col-9">
                        <label>Seleccionar:</label><br>
                        <select [(ngModel)]="datosMovimiento.id_chofer" class="select-class"
                            (ngModelChange)="onSelectChofer()">
                            <option *ngFor="let chofer of select_choferes" value="{{chofer.id}}">{{chofer.alias}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <p>Chofer.: <strong *ngIf="chofer">{{chofer.razon_social}}</strong></p>
                <p>CUIT: <strong *ngIf="chofer">{{chofer.cuit}}</strong></p>
                <button class="button-ver-todo" (click)="verTodosChoferes()">Ver todos</button>
            </div>
        </div>
        <div class="field col-3">
            <div class="tarjeta">
                <h6>Camion: <button (click)="actualizarCamiones()" class="button-tabla"><i
                            class="pi pi-refresh"></i></button></h6>
                <div class="formgrid row">
                    <div class="field col-3">
                        <label>Codigo</label><br>
                        <input [(ngModel)]="cod_camion" class="input-text-codigo" type="text"
                            (keyup.enter)="buscarCamion()" style="width: 85px;" />
                    </div>
                    <div class="field col-9">
                        <label>Seleccionar:</label><br>
                        <select [(ngModel)]="datosMovimiento.id_camion" class="select-class"
                            (ngModelChange)="onSelectCamion()">
                            <option *ngFor="let camion of select_camiones" value="{{camion.id}}">{{camion.alias}}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <p>Patentes: <strong *ngIf="camion">{{camion.patente_chasis}} - {{camion.patente_acoplado}} -
                        {{camion.patente_otro}}</strong></p>
                <p>Tara: <strong *ngIf="camion">{{camion.kg_tara}}</strong> / Modelo: <strong
                        *ngIf="camion">{{camion.modelo}}</strong></p>
                <button class="button-ver-todo" (click)="verTodosCamiones()">Ver todos</button>
            </div>
        </div>
        <div class="field col-2">
            <div class="tarjeta">
                <h6>KGS:</h6>
                <table>
                    <tr>
                        <td>KG BRUTO</td>
                        <td><input type="number" step="10" class="input-text-codigo"
                                [(ngModel)]="datosMovimiento.kg_bruto"
                                (ngModelChange)="calcularKilos($event, 'kilos_bruto')"><br></td>
                    </tr>
                    <tr>
                        <td>KG TARA</td>
                        <td><input type="number" step="10" class="input-text-codigo"
                                [(ngModel)]="datosMovimiento.kg_tara"
                                (ngModelChange)="calcularKilos($event, 'kilos_tara')"><br></td>
                    </tr>
                    <tr>
                        <td><strong>NETO</strong></td>
                        <td><input type="number" step="10" class="input-text-codigo"
                                [(ngModel)]="datosMovimiento.kg_neto"
                                (ngModelChange)="calcularKilos($event, 'kilos_neto')"><br></td>
                    </tr>
                    <tr>
                        <td>CARG/DESC</td>
                        <td><input type="number" step="10" class="input-text-codigo"
                                [(ngModel)]="datosMovimiento.kg_regulacion"
                                (ngModelChange)="calcularKilos($event, 'kilos_carga_descarga')"><br></td>
                    </tr>
                    <tr>
                        <td>Depos.</td>
                        <td>
                            <select [(ngModel)]="datosMovimiento.id_deposito" class="select-class" style="width: 100px">
                                <option *ngFor="let deposito of db_depositos" value="{{deposito.id}}">{{deposito.alias}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>NETO FINAL</strong></td>
                        <td><input type="number" step="10" class="input-text-codigo"
                                [(ngModel)]="datosMovimiento.kg_neto_final"
                                (ngModelChange)="calcularKilos($event, 'kilos_neto_final')"><br></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <p-divider align="left">
        <b>Datos varios</b>
    </p-divider>
    <div class="formgrid row">
        <div class="col">
            <label>CORREDOR:</label><br>
            <p-listbox [options]="db_corredores" [(ngModel)]="datosMovimiento.id_corredor" optionLabel="alias"
                optionValue="id" [filter]="true" [style]="{ width: '90%' }"></p-listbox>
        </div>
        <div class="col">
            <label>ACOPIO:</label><br>
            <p-listbox [options]="db_acopios" [(ngModel)]="datosMovimiento.id_acopio" optionLabel="alias"
                optionValue="id" [filter]="true" [style]="{ width: '90%' }"></p-listbox>
        </div>
        <div class="col">
            <span class="p-float-label">
                <textarea id="float-input" rows="5" cols="70" pInputTextarea
                    [(ngModel)]="datosMovimiento.observaciones"></textarea>
                <label for="float-input">Observaciones</label>
            </span>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button *ngIf="!existePlantilla" pButton pRipple type="button" label="GUARDAR PLANTILLA"
            class="p-button-success bott" (click)="guardarPlantilla()"></button>
        <button *ngIf="existePlantilla" pButton pRipple type="button" label="BORRAR PLANTILLA"
            class="p-button-danger bott" (click)="borrarPlantilla()"></button>
        <button *ngIf="!datosMovimiento.id" pButton pRipple type="button" label="GUARDAR" class="p-button-success bott"
            (click)="guardarMovimiento()"></button>
        <button *ngIf="datosMovimiento.id" pButton pRipple type="button" label="EDITAR" class="p-button-success bott"
            (click)="editarMovimiento()"></button>
        <button *ngIf="datosMovimiento.id" pButton pRipple type="button" label="BORRAR" class="p-button-danger bott"
            (click)="borrarMovimiento()"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott"
            (click)="displayNuevoMovimiento = false"></button>
    </ng-template>
</p-dialog>

<p-dialog header="BANDERAS" [(visible)]="displayBanderas" [modal]="true" [style]="{width: '1000px', height:'600px'}"
    [draggable]="true" [resizable]="true" [maximizable]="true">

    <table>
        <thead>
            <tr style="text-align: center;">
                <td><strong>BANDERA</strong></td>
                <td><strong>ALIAS</strong></td>
                <td><strong>CODIGO</strong></td>
                <td><strong>ACTIVO</strong></td>
                <td><strong>ACCIONES</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bandera of db_banderas">
                <td style="text-align: center;">
                    <p-tag severity="{{bandera.fondo}}" (click)="disenarFlag(bandera)"><i class="pi {{bandera.icono}}"
                            [style]="{color: bandera.color}"></i></p-tag>
                </td>
                <td>
                    <input type="text" [(ngModel)]="bandera.alias">
                </td>
                <td>
                    <input type="text" [(ngModel)]="bandera.codigo">
                </td>
                <td>
                    <input type="text" [(ngModel)]="bandera.activo">
                </td>
                <td *ngIf="bandera.id">
                    <button style="background-color: rgba(21, 255, 0, 0.486);" (click)="editarBandera(bandera)"><i
                            class="pi pi-pencil"></i></button>
                    <button style="background-color: rgba(255, 17, 0, 0.486);" (click)="eliminarBandera(bandera)"><i
                            class="pi pi-trash"></i></button>
                    <button style="background-color: rgba(0, 110, 255, 0.486);" (click)="duplicarBandera(bandera)"><i
                            class="pi pi-arrow-circle-down"></i></button>
                </td>
                <td *ngIf="!bandera.id">
                    <button style="background-color: rgba(21, 255, 0, 0.486);" (click)="guardarBandera(bandera)"><i
                            class="pi pi-save"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <button pButton pRipple type="button" label="NUEVA BANDERA" class="p-button-success bott"
        (click)="agregarBandera()"></button>


    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBanderas=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="DISEÑO BANDERAS" [(visible)]="displayBanderasDis" [modal]="true"
    [style]="{width: '700px', height:'600px'}" [draggable]="true" [resizable]="true" [maximizable]="true">

    <div style="text-align: center;">
        <p-tag severity="{{disFlag.fondo}}"><i class="pi {{disFlag.icono}}"
                [style]="{color:disFlag.color, fontSize: '80px'}"></i></p-tag>
    </div>
    <br>

    <div class="formgrid row">
        <div class="col">
            <label><strong>Icono:</strong></label><br>
            <p-dropdown [options]="iconsFlag" [(ngModel)]="disFlag.icono" placeholder="Seleccionar Icono"
                [showClear]="true"></p-dropdown>
        </div>
        <div class="col">
            <label><strong>Fondo:</strong></label><br>
            <p-listbox [options]="fondosFlag" [(ngModel)]="disFlag.fondo" [style]="{ width: '90%' }"></p-listbox>
        </div>
        <div class="col">
            <label><strong>Color:</strong></label><br>
            <p-colorPicker [(ngModel)]="disFlag.color" [inline]="true"></p-colorPicker>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBanderasDis=false" label="Ok"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="ORDEN DE CARGA" [(visible)]="displayOrdenCarga" [modal]="true"
    [style]="{width: '1200px', height: '90vw'}" [draggable]="true" [resizable]="true" [maximizable]="true">
    <div class="formgrid row">
        <div class="field col">
            <div class="field">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Fecha</span>
                    <input type="text" pInputText [(ngModel)]="datosOrdenCarga.fecha" />
                </div>
            </div>
        </div>
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Numero</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.numero" />
            </div>
        </div>
    </div>
    <br>
    <div class="formgrid row">
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Beneficiario</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.beneficiario" />
            </div>
        </div>
    </div>
    <br>
    <div class="formgrid row">
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Transp.</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.transportista" />
            </div>
        </div>
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Chofer</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.conductor" />
            </div>
        </div>
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Patentes</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.patentes" />
            </div>
        </div>
    </div>
    <br>
    <div class="formgrid row">
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Est.</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.establecimiento" />
            </div>
        </div>
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Cultivo</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.cultivo" />
            </div>
        </div>
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Desde</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.trilla_silo" />
            </div>
        </div>
    </div>
    <br>
    <div class="formgrid row">
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">TARA</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.tara" />
            </div>
        </div>
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">BRUTO</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.bruto" />
            </div>
        </div>
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">NETO</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.neto" />
            </div>
        </div>
    </div>
    <br>
    <div class="formgrid row">
        <div class="field col">
            <span class="p-float-label">
                <textarea id="float-input" rows="5" cols="70" pInputTextarea
                    [(ngModel)]="datosOrdenCarga.observaciones"></textarea>
                <label for="float-input">Observaciones</label>
            </span>
        </div>
    </div>
    <br>
    <div class="formgrid row">
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Firma</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.firma1" />
            </div>
        </div>
        <div class="field col">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Firma</span>
                <input type="text" pInputText [(ngModel)]="datosOrdenCarga.firma2" />
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="GUARDAR" class="p-button-success bott"
            (click)="guardarOrdenCarga('guardar')"></button>
        <button pButton pRipple type="button" label="GUARDAR Y VER" class="p-button-success bott"
            (click)="guardarOrdenCarga('guardar_ver')"></button>
        <button pButton pRipple type="button" label="GUARDAR Y DESCARGAR" class="p-button-success bott"
            (click)="guardarOrdenCarga('guardar_descargar')"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott"
            (click)="displayOrdenCarga = false"></button>
    </ng-template>
</p-dialog>

<p-dialog header="COLUMNAS" [(visible)]="displayVistas" [modal]="true" [style]="{width: '300px'}" [draggable]="true"
    [resizable]="false">
    <div class="formgrid row">
        <p-button label="TODO" styleClass="p-button-sm" (click)="columnsTabla('todo')"></p-button>
    </div>
    <br>
    <div class="formgrid row">
        <p-button label="TRANPORTES" styleClass="p-button-sm" (click)="columnsTabla(1)"></p-button>
    </div>
</p-dialog>


<p-dialog header="CPE" [(visible)]="displayCPE" [modal]="true" [style]="{width: '1100px'}" [draggable]="true"
    [resizable]="true" [maximizable]="true">

    <div class="formgrid row">
        <div class="field col">
            <div class="field">
                <label>Tipo</label><br>
                <select [(ngModel)]="datosCPE.tipo_cpe" class="select-class" style="width: 300px;">
                    <option value=74>74 - Automotor - Granos</option>
                </select>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Titular</label><br>
                <select [(ngModel)]="datosCPE.cuit_solicitante" class="select-class" style="width: 300px;">
                    <option *ngFor="let socio of db_socios" value="{{socio.cuit}}">{{socio.razon_social}}</option>
                </select>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>CAMPAÑA</label><br>
                <select [(ngModel)]="datosCPE.cosecha" class="select-class" style="width: 300px;">
                    <option *ngFor="let campana of db_campanas" value="{{campana.codigo}}">{{campana.codigo}} - {{campana.descripcion}}</option>
                </select>
            </div>
        </div>
    </div>
    <p-divider align="center">
        <b>A - INTERVINIENTES</b>
    </p-divider>
    <div class="formgrid row">
        <table>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Rte. Comercial Productor:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_remitente_comercial_productor" class="select-class">
                            <option value=""></option>
                            <option
                                *ngFor="let remitente_comercial_productor of intervinientesCPE.remitente_comercial_productor"
                                value="{{remitente_comercial_productor.cuit}}">{{remitente_comercial_productor.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_remitente_comercial_productor"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_remitente_comercial_productor, 'remitente_comercial_productor')"><br>
                </td>
                <td>
                    <button
                        (click)="buscarCUIT(datosCPE.cuit_remitente_comercial_productor, 'remitente_comercial_productor')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.remitente_comercial_productor" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Rte. Comercial Venta Primaria:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_remitente_comercial_venta_primaria" class="select-class">
                            <option value=""></option>
                            <option
                                *ngFor="let remitente_comercial_venta_primaria of intervinientesCPE.remitente_comercial_venta_primaria"
                                value="{{remitente_comercial_venta_primaria.cuit}}">
                                {{remitente_comercial_venta_primaria.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_remitente_comercial_venta_primaria"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_remitente_comercial_venta_primaria, 'remitente_comercial_venta_primaria')"><br>
                </td>
                <td>
                    <button
                        (click)="buscarCUIT(datosCPE.cuit_remitente_comercial_venta_primaria, 'remitente_comercial_venta_primaria')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.remitente_comercial_venta_primaria" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Rte. Comercial Venta Secundaria:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_remitente_comercial_venta_secundaria" class="select-class">
                            <option value=""></option>
                            <option
                                *ngFor="let remitente_comercial_venta_secundaria of intervinientesCPE.remitente_comercial_venta_secundaria"
                                value="{{remitente_comercial_venta_secundaria.cuit}}">
                                {{remitente_comercial_venta_secundaria.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_remitente_comercial_venta_secundaria"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_remitente_comercial_venta_secundaria, 'remitente_comercial_venta_secundaria')"><br>
                </td>
                <td>
                    <button
                        (click)="buscarCUIT(datosCPE.cuit_remitente_comercial_venta_secundaria, 'remitente_comercial_venta_secundaria')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.remitente_comercial_venta_secundaria" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Rte. Comercial Venta Secundaria 2:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_remitente_comercial_venta_secundaria2" class="select-class">
                            <option value=""></option>
                            <option
                                *ngFor="let remitente_comercial_venta_secundaria2 of intervinientesCPE.remitente_comercial_venta_secundaria2"
                                value="{{remitente_comercial_venta_secundaria2.cuit}}">
                                {{remitente_comercial_venta_secundaria2.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_remitente_comercial_venta_secundaria2"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_remitente_comercial_venta_secundaria2, 'remitente_comercial_venta_secundaria2')"><br>
                </td>
                <td>
                    <button
                        (click)="buscarCUIT(datosCPE.cuit_remitente_comercial_venta_secundaria2, 'remitente_comercial_venta_secundaria2')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.remitente_comercial_venta_secundaria2" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Mercado a Termino:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_mercado_a_termino" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let mercado_a_termino of intervinientesCPE.mercado_a_termino"
                                value="{{mercado_a_termino.cuit}}">{{mercado_a_termino.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_mercado_a_termino"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_mercado_a_termino, 'mercado_a_termino')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_mercado_a_termino, 'mercado_a_termino')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.mercado_a_termino" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Corredor Venta Primaria:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_corredor_venta_primaria" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let corredor_venta_primaria of intervinientesCPE.corredor_venta_primaria"
                                value="{{corredor_venta_primaria.cuit}}">{{corredor_venta_primaria.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_corredor_venta_primaria"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_corredor_venta_primaria, 'corredor_venta_primaria')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_corredor_venta_primaria, 'corredor_venta_primaria')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.corredor_venta_primaria" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Corredor Venta Secundaria:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_corredor_venta_secundaria" class="select-class">
                            <option value=""></option>
                            <option
                                *ngFor="let corredor_venta_secundaria of intervinientesCPE.corredor_venta_secundaria"
                                value="{{corredor_venta_secundaria.cuit}}">{{corredor_venta_secundaria.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_corredor_venta_secundaria"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_corredor_venta_secundaria, 'corredor_venta_secundaria')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_corredor_venta_secundaria, 'corredor_venta_secundaria')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.corredor_venta_secundaria" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Representante Entregador:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_representante_entregador" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let representante_entregador of intervinientesCPE.representante_entregador"
                                value="{{representante_entregador.cuit}}">{{representante_entregador.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_representante_entregador"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_representante_entregador, 'representante_entregador')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_representante_entregador, 'representante_entregador')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.representante_entregador" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Representante Recibidor:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_representante_recibidor" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let representante_recibidor of intervinientesCPE.representante_recibidor"
                                value="{{representante_recibidor.cuit}}">{{representante_recibidor.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_representante_recibidor"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_representante_recibidor, 'representante_recibidor')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_representante_recibidor, 'representante_recibidor')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.representante_recibidor" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Destinatario:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_destinatario" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let destinatario of intervinientesCPE.destinatario"
                                value="{{destinatario.cuit}}">{{destinatario.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_destinatario"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_destinatario, 'destinatario')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_destinatario, 'destinatario')" class="button-tabla"><i
                            class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.destinatario" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Destino:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_destino" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let destino of intervinientesCPE.destino" value="{{destino.cuit}}">
                                {{destino.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_destino"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_destino, 'destino')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_destino, 'destino')" class="button-tabla"><i
                            class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;" [(ngModel)]="datosCPE.destino"
                        readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Empresa Transportista:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_transportista" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let transportista of intervinientesCPE.transportista"
                                value="{{transportista.cuit}}">{{transportista.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_transportista"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_transportista, 'transportista')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_transportista, 'transportista')" class="button-tabla"><i
                            class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.transportista" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Flete Pagador:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_pagador_flete" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let pagador_flete of intervinientesCPE.pagador_flete"
                                value="{{pagador_flete.cuit}}">{{pagador_flete.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_pagador_flete"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_pagador_flete, 'pagador_flete')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_pagador_flete, 'pagador_flete')" class="button-tabla"><i
                            class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.pagador_flete" readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Chofer:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_chofer" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let chofer of intervinientesCPE.chofer" value="{{chofer.cuit}}">
                                {{chofer.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_chofer"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_chofer, 'chofer')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_chofer, 'chofer')" class="button-tabla"><i
                            class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;" [(ngModel)]="datosCPE.chofer"
                        readonly><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 0px 20px 0px 0px;">Intermediario Flete:</td>
                <td>
                    <div class="field">
                        <select [(ngModel)]="datosCPE.cuit_intermediario_flete" class="select-class">
                            <option value=""></option>
                            <option *ngFor="let intermediario_flete of intervinientesCPE.intermediario_flete"
                                value="{{intermediario_flete.cuit}}">{{intermediario_flete.alias}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><input type="number" class="input-text-codigo" style="width: 130px;"
                        [(ngModel)]="datosCPE.cuit_intermediario_flete"
                        (keydown.enter)="buscarCUIT(datosCPE.cuit_intermediario_flete, 'intermediario_flete')"><br>
                </td>
                <td>
                    <button (click)="buscarCUIT(datosCPE.cuit_intermediario_flete, 'intermediario_flete')"
                        class="button-tabla"><i class="pi pi-search"></i></button>
                </td>
                <td><input type="text" class="input-text-codigo" style="width: 320px;"
                        [(ngModel)]="datosCPE.intermediario_flete" readonly><br>
                </td>
            </tr>
        </table>
    </div>
    <p-divider align="center">
        <b>B - GRANO / ESPECIE</b>
    </p-divider>
    <div class="formgrid row">
        <div class="field col">
            <div class="formgrid row">
                <div class="field col">
                    <div class="field">
                        <label>Grano/especie:</label><br>
                        <select [(ngModel)]="datosCPE.cod_grano" class="select-class" style="width: 240px;">
                            <option value=""></option>
                            <option *ngFor="let grano of db_granos"
                                value="{{grano.codigo}}">{{grano.alias}}</option>
                        </select>
                    </div>
                </div>
                <div class="field col">
                    <div class="field">
                        <label>Codigo</label><br>
                        <input type="text" class="input-text-codigo" [(ngModel)]="datosCPE.cod_grano">
                    </div>
                </div>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <table>
                    <tr>
                        <td style="text-align: right; padding: 0px 20px 0px 0px;">PESO BRUTO (kg):</td>
                        <td><input type="number" step="10" class="input-text-codigo" [(ngModel)]="datosCPE.peso_bruto"><br></td>
                    </tr>
                    <tr>
                        <td style="text-align: right; padding: 0px 20px 0px 0px;">PESO TARA (kg):</td>
                        <td><input type="number" step="10" class="input-text-codigo" [(ngModel)]="datosCPE.peso_tara"><br></td>
                    </tr>
                    <tr>
                        <td style="text-align: right; padding: 0px 20px 0px 0px;">PESO NETO (kg):</td>
                        <td><input type="number" step="10" class="input-text-codigo" [(ngModel)]="datosCPE.peso_bruto - datosCPE.peso_tara" readonly><br></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <p-divider align="center">
        <b>C - PROCEDENCIA</b>
    </p-divider>
    <p-divider align="center">
        <b>D - DESTINO DE LA MERCADERIA</b>
    </p-divider>
    <p-divider align="center">
        <b>E - DATOS DEL TRANSPORTE</b>
    </p-divider>
    <p-divider align="center">
        <b>F - CONTINGENCIAS</b>
    </p-divider>
    <p-divider align="center">
        <b>G - DESCARGA</b>
    </p-divider>






    <ng-template pTemplate="footer">
        <button (click)="mostrat(datosCPE)" pButton pRipple type="button" label="GUARDAR"
            class="p-button-success bott"></button>
        <button pButton pRipple type="button" label="GUARDAR Y VER" class="p-button-success bott"></button>
        <button pButton pRipple type="button" label="GUARDAR Y DESCARGAR" class="p-button-success bott"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott"
            (click)="displayCPE = false"></button>
    </ng-template>

</p-dialog>