<div style="text-align: center;"
    *ngIf="load_ordenes_pago || load_asientos || load_carta_porte || load_camiones || load_choferes || load_condicion_iva || load_socios || load_transportistas || load_campanas || load_depositos || load_establecimientos || load_gastos || load_granos || load_banderas || load_ordenes_carga || load_intervinientes || load_movimientos">
    <br><br><br><br><p-progressSpinner></p-progressSpinner><br><br>
</div>

<div #BOTONES>
    <button pButton pRipple type="button" label="FILTROS" class="p-button-success bott"
        (click)="displayFiltros=true"></button>
    <button pButton pRipple type="button" label="XLSX" class="p-button-success bott" (click)="exportToExcel()"></button>
    <br><br>
</div>

<div #TABLA style="width: 100%; overflow-x: auto;">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto;
            font-size: 14px;
            color: #333;
        }

        table th,
        table td {
            border: 1px solid #ccc;
            text-align: left;
        }

        table th {
            background-color: #f2f2f2;
        }

        table tr:nth-child(even) {
            background-color: #f8f8f8;
        }
    </style>
    <table>
        <thead>
            <tr style="padding: 0px;">
                <th style="position: sticky; left: 0;">#</th>
                <th *ngFor="let col of cols" style="padding: 0px; text-align: center;">
                    {{col.header}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registro of dataParaMostrarTabla">
                <td style="position: sticky; left: 0; padding: 0px;">
                    <button style="margin: 0px; border: none; outline: none; width: 40px;"
                        class="{{registro.movimientoLocal}}" (click)="verDatosRegistro(registro.id)">VER</button>
                </td>
                <td *ngFor="let col of cols" style="padding: 1px;">
                    <input type="text" [(ngModel)]="registro[col.field]"
                        style="width: 100%; margin: 0px; border: none; outline: none; min-width: 100px;"
                        class="{{registro[col.field] == 'SI' ? 'colorSI' : ((registro[col.field] == 'NO' || (col.field=='dif_balanza_tolva' && registro.dif_balanza_tolva_pintar) || (col.field=='dif_destino_balanza' && registro.dif_destino_balanza_pintar)) ? 'colorNO' : '') }}">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td style="position: sticky; left: 0; padding: 0px;">
                    <div style="margin: 0px; border: none; outline: none; width: 40px; background-color: #dfdfdf;">
                    </div>
                </td>
                <td *ngFor="let col of cols" style="padding: 1px;">
                    <input type="text" [(ngModel)]="dataParaMostrarTablaTotales[col.field]"
                        style="width: 100%; margin: 0px; border: none; outline: none; min-width: 100px; font-weight: bold; background-color: #dfdfdf;">
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<br><br>

<p-dialog header="FILTROS" [(visible)]="displayFiltros" [modal]="true" [style]="{width: '98vw', height: '900px'}"
    [draggable]="true" [resizable]="false">

    <div class="formgrid row">
        <div class="field col">
            <div class="field">
                <label>FECHA DESDE</label><br>
                <p-calendar inputId="basic" [(ngModel)]="datosFiltro.fechaDesde" dateFormat="dd/mm/yy"></p-calendar>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>FECHA HASTA</label><br>
                <p-calendar inputId="basic" [(ngModel)]="datosFiltro.fechaHasta" dateFormat="dd/mm/yy"></p-calendar>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>ORDENAR</label><br>
                <select [(ngModel)]="ordenarPor" style="width: 180px;">
                    <option *ngFor="let col of cols" value="{{col.field}}">{{col.header}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="formgrid row">
        <div class="field col">
            <div class="field">
                <label>CULTIVO</label><br>
                <p-listbox [options]="db_granos" [(ngModel)]="datosFiltro.granos" [metaKeySelection]="false"
                    [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="alias" optionValue="id"
                    [listStyle]="{'max-height':'600px'}" [style]="{'width':'15rem'}">
                    <ng-template let-grano pTemplate="item">
                        <div class="grano-item">
                            <div>{{grano.alias}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>SOCIO</label><br>
                <p-listbox [options]="db_socios" [(ngModel)]="datosFiltro.socios" [metaKeySelection]="false"
                    [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="alias" optionValue="id"
                    [listStyle]="{'max-height':'600px'}" [style]="{'width':'15rem'}">
                    <ng-template let-socio pTemplate="item">
                        <div class="socio-item">
                            <div>{{socio.alias}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>ESTABLECIMIENTO</label><br>
                <p-listbox [options]="db_establecimientos" [(ngModel)]="datosFiltro.establecimientos"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="alias"
                    optionValue="id" [listStyle]="{'max-height':'600px'}" [style]="{'width':'15rem'}">
                    <ng-template let-establecimiento pTemplate="item">
                        <div class="establecimiento-item">
                            <div>{{establecimiento.alias}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>TRANSPORTE</label><br>
                <p-listbox [options]="db_transportistas" [(ngModel)]="datosFiltro.transportistas"
                    [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="alias"
                    optionValue="id" [listStyle]="{'max-height':'600px'}" [style]="{'width':'15rem'}">
                    <ng-template let-transportista pTemplate="item">
                        <div class="transportista-item">
                            <div>{{transportista.alias}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>CORREDOR</label><br>
                <p-listbox [options]="db_corredores" [(ngModel)]="datosFiltro.corredores" [metaKeySelection]="false"
                    [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="alias" optionValue="id"
                    [listStyle]="{'max-height':'600px'}" [style]="{'width':'15rem'}">
                    <ng-template let-corredor pTemplate="item">
                        <div class="corredor-item">
                            <div>{{corredor.alias}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>DESTINO</label><br>
                <p-listbox [options]="db_acopios" [(ngModel)]="datosFiltro.acopios" [metaKeySelection]="false"
                    [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="alias" optionValue="id"
                    [listStyle]="{'max-height':'600px'}" [style]="{'width':'15rem'}">
                    <ng-template let-acopio pTemplate="item">
                        <div class="acopio-item">
                            <div>{{acopio.alias}}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="FILTRAR" class="p-button-success bott"
            (click)="datosParaTabla(true)"></button>
    </ng-template>
</p-dialog>

<p-dialog header="Datos" [(visible)]="displayDatos" [modal]="true" [style]="{width: '95vw', height: '95vw'}"
    [draggable]="true" [resizable]="false">
    <h6>Datos Movimiento: {{datosParaMostrarRegistro.fecha}}</h6>
    <div class="tarjeta">
        <div class="formgrid row">
            <div class="field col">
                <div class="field">
                    <p>Origen: <strong>{{datosParaMostrarRegistro.campo}}
                        </strong>({{datosParaMostrarRegistro.tipo_orig}})</p>
                    <p>Cultivo: <strong>{{datosParaMostrarRegistro.cultivo}}</strong></p>
                    <p>Orden: <strong>{{datosParaMostrarRegistro.orden}}</strong></p>
                    <p>Benef Orden: {{datosParaMostrarRegistro.benef_orden}}</p>
                    <p>Obs: <strong>{{datosParaMostrarRegistro.observaciones}}</strong></p>
                </div>
            </div>
            <div class="field col">
                <div class="field">
                    <p>EMISOR: <strong>{{datosParaMostrarRegistro.benef}}</strong></p>
                    <p>CTG: <strong>{{datosParaMostrarRegistro.ctg}}</strong></p>
                    <p>CPE:: <strong>{{datosParaMostrarRegistro.cpe}}</strong></p>
                    <p>Corredor: <strong>{{datosParaMostrarRegistro.id_corredor}}</strong></p>
                    <p>Destino: <strong>{{datosParaMostrarRegistro.id_acopio}}</strong></p>
                </div>
            </div>
            <div class="field col">
                <div class="field">
                    <p>Transponer: <strong>{{datosParaMostrarRegistro.transporte}}</strong></p>
                    <p>CUIT: {{datosParaMostrarRegistro.cuit_transp}}</p>
                    <p>Patentes: <strong>{{datosParaMostrarRegistro.pat}} - {{datosParaMostrarRegistro.patAc}}</strong>
                    </p>
                    <p>Factura: {{datosParaMostrarRegistro.factura}}</p>
                    <p>Gastos: {{datosParaMostrarRegistro.gastos}}</p>
                    <p>Pagado: {{datosParaMostrarRegistro.pagado}}</p>
                </div>
            </div>
            <div class="field col">
                <div class="field">
                    <p>KG CAMPO: <strong>{{datosParaMostrarRegistro.kg_campo}}</strong></p>
                    <p>KG Bruto: {{datosParaMostrarRegistro.kg_bruto}}</p>
                    <p>KG Tara: {{datosParaMostrarRegistro.kg_tara}}</p>
                    <p>KG Neto: <strong>{{datosParaMostrarRegistro.kg_neto}}</strong></p>
                    <p>KG Regulado: {{datosParaMostrarRegistro.kg_regulacion}}</p>
                    <p>KG Neto Final: <strong>{{datosParaMostrarRegistro.kg_neto_final}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h4 style="text-align: center;">Datos Locales:</h4>
    <div class="formgrid row" *ngIf="existeMovimientoLocal">
        <div #ORIGEN class="field col">
            <div class="field tarjeta" style="height: 400px;">
                <h5 style="text-align: center;"><strong>ORIGEN</strong></h5>
                <hr>
                <h6>Origen planilla: <strong>{{movimientoLocal.kg_campo}}</strong>kgs</h6>
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: center;">L/S</th>
                            <th style="text-align: center;">Establecimiento</th>
                            <th style="text-align: center;">Lote/Silo</th>
                            <th style="text-align: center;">Kilos</th>
                            <th style="text-align: center;">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let origen_movimiento of origenesMovimiento">
                            <td>{{origen_movimiento.tipo_origen}}</td>
                            <td>{{origen_movimiento.id_establecimiento}}</td>
                            <td>{{origen_movimiento.id_origen}}</td>
                            <td>{{origen_movimiento.kilos}}</td>
                            <td>
                                <button (click)="eliminarOrigenMovimiento(origen_movimiento.id)"
                                    style="margin: 0px; padding: 1px; background-color: rgba(236, 23, 23, 0.37); border-radius: 30%;"><i
                                        class="pi pi-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"><strong>TOTAL</strong></td>
                            <td><strong>{{origen_movimiento_total}}</strong></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <br>
                <button (click)="nuevoOrigenMovimiento()">Nuevo</button>
                <div class="formgrid row">
                    <textarea rows="3" pInputTextarea [(ngModel)]="movimientoLocal.observaciones_origen"></textarea>
                </div>
            </div>
        </div>
        <div #BALANZA class="field col">
            <div class="field tarjeta" style="height: 400px;">
                <h5 style="text-align: center;"><strong>BALANZA</strong></h5>
                <hr>
                <div class="formgrid row">
                    <div class="field col" style="text-align: right; margin: 4px 0px 0px 0px;">
                        <strong>ENTRADA</strong>
                    </div>
                    <div class="field col">
                        <input type="number" [(ngModel)]="movimientoLocal.kg_balanza" class="input-text-codigo">Kgs
                    </div>
                </div>
                <div class="formgrid row">
                    <div class="field col" style="text-align: right; margin: 4px 0px 0px 0px;">
                        <strong>REGULACION</strong>
                    </div>
                    <div class="field col">
                        <input type="number" [(ngModel)]="movimientoLocal.kg_regulacion" class="input-text-codigo">Kgs
                    </div>
                </div>
                <div class="formgrid row">
                    <div class="field col" style="text-align: right; margin: 4px 0px 0px 0px;">
                        <strong>SALIDA</strong>
                    </div>
                    <div class="field col">
                        <input type="number" [(ngModel)]="movimientoLocal.kg_salida" class="input-text-codigo">Kgs
                    </div>
                </div>
                <br><br>
                <div class="formgrid row">
                    <textarea rows="6" pInputTextarea [(ngModel)]="movimientoLocal.observaciones_balanza"></textarea>
                </div>
            </div>
        </div>
        <div #ACONDICIONADO class="field col">
            <div class="field tarjeta" style="height: 400px;">
                <h5 style="text-align: center;"><strong>ACONDICIONADO</strong></h5>
                <hr>
                <div class="formgrid row">
                    <div class="field col" style="text-align: right; margin: 4px 0px 0px 0px;">
                        <strong>ENTRADA</strong>
                    </div>
                    <div class="field col">
                        <input type="number" [(ngModel)]="movimientoLocal.kg_acondicionadora_entrada"
                            class="input-text-codigo">Kgs
                    </div>
                </div>
                <div class="formgrid row">
                    <div class="field col" style="text-align: right; margin: 4px 0px 0px 0px;">
                        <strong>SALIDA</strong>
                    </div>
                    <div class="field col">
                        <input type="number" [(ngModel)]="movimientoLocal.kg_acondicionadora_salida"
                            class="input-text-codigo">Kgs
                    </div>
                </div>
                <div class="formgrid row">
                    <div class="field col" style="text-align: right; margin: 4px 0px 0px 0px;">
                        <strong>DIFERENCIA</strong>
                    </div>
                    <div class="field col">
                        <input type="number" [(ngModel)]="movimientoLocal.kg_acondicionadora_diferencia"
                            class="input-text-codigo">Kgs
                    </div>
                </div>
                <br><br>
                <div class="formgrid row">
                    <textarea rows="6" pInputTextarea
                        [(ngModel)]="movimientoLocal.observaciones_acondicionadora"></textarea>
                </div>
            </div>
        </div>
        <div #DESTINO class="field col">
            <div class="field tarjeta" style="height: 400px;">
                <h5 style="text-align: center;"><strong>DESTINO</strong></h5>
                <hr>
                <div class="formgrid row">
                    <div class="field col" style="text-align: right; margin: 4px 0px 0px 0px;">
                        <strong>ENTRADA</strong>
                    </div>
                    <div class="field col">
                        <input type="number" [(ngModel)]="movimientoLocal.kg_descarga" class="input-text-codigo">Kgs
                    </div>
                </div>
                <div class="formgrid row">
                    <div class="field col" style="text-align: right; margin: 4px 0px 0px 0px;">
                        <strong>MERMAS</strong>
                    </div>
                    <div class="field col">
                        <input type="number" [(ngModel)]="movimientoLocal.kg_mermas" class="input-text-codigo">Kgs
                    </div>
                </div>
                <div class="formgrid row">
                    <div class="field col" style="text-align: right; margin: 4px 0px 0px 0px;">
                        <strong>FINAL</strong>
                    </div>
                    <div class="field col">
                        <input type="number" [(ngModel)]="movimientoLocal.kg_final" class="input-text-codigo">Kgs
                    </div>
                </div>
                <br><br>
                <div class="formgrid row">
                    <textarea rows="6" pInputTextarea [(ngModel)]="movimientoLocal.observaciones_descarga"></textarea>
                </div>
            </div>
        </div>
        <div #CONTRATOS class="field col">
            <div class="field tarjeta" style="height: 400px;">
                <h5 style="text-align: center;"><strong>CONTRATOS</strong></h5>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>CONTRATO</th>
                            <th>KILOS</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SILO</td>
                            <td>LA PROVIDENCIA</td>
                            <td>
                                <button
                                    style="margin: 0px; padding: 1px; background-color: rgba(236, 23, 23, 0.37); border-radius: 30%;"><i
                                        class="pi pi-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>TOTAL</strong></td>
                            <td><strong>35200</strong></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <br><br>
                <div class="formgrid row">
                    <textarea rows="3" pInputTextarea [(ngModel)]="movimientoLocal.observaciones_contratos"></textarea>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="formgrid row">
        <div class="field col">
            <select [(ngModel)]="movimientoLocal.ok_origen" class="input-text-codigo"
                style="width: 250px; height: 30px;">
                <option value=1>CORRECTO</option>
                <option value=2>INCOMPLETO</option>
                <option value=3>FALTAN DATOS</option>
                <option value=4>VERIFICAR</option>
            </select>
            <button
                style="width: 100px; height: 50px; margin: 0px 0px 0px 30px; border-radius: 5px; background-color: rgba(18, 219, 0, 0.24);"
                (click)="movimientoLocal.ok_origen = 1">OK</button>
        </div>
        <div class="field col">
            <select [(ngModel)]="movimientoLocal.ok_balanza" class="input-text-codigo"
                style="width: 250px; height: 30px;">
                <option value=1>CORRECTO</option>
                <option value=2>INCOMPLETO</option>
                <option value=3>FALTAN DATOS</option>
                <option value=4>VERIFICAR</option>
            </select>
            <button
                style="width: 100px; height: 50px; margin: 0px 0px 0px 30px; border-radius: 5px; background-color: rgba(18, 219, 0, 0.24);"
                (click)="movimientoLocal.ok_balanza = 1">OK</button>
        </div>
        <div class="field col">
            <select [(ngModel)]="movimientoLocal.ok_acondicionadora" class="input-text-codigo"
                style="width: 250px; height: 30px;">
                <option value=1>CORRECTO</option>
                <option value=2>INCOMPLETO</option>
                <option value=3>FALTAN DATOS</option>
                <option value=4>VERIFICAR</option>
            </select>
            <button
                style="width: 100px; height: 50px; margin: 0px 0px 0px 30px; border-radius: 5px; background-color: rgba(18, 219, 0, 0.24);"
                (click)="movimientoLocal.ok_acondicionadora = 1">OK</button>
        </div>
        <div class="field col">
            <select [(ngModel)]="movimientoLocal.ok_descarga" class="input-text-codigo"
                style="width: 250px; height: 30px;">
                <option value=1>CORRECTO</option>
                <option value=2>INCOMPLETO</option>
                <option value=3>FALTAN DATOS</option>
                <option value=4>VERIFICAR</option>
            </select>
            <button
                style="width: 100px; height: 50px; margin: 0px 0px 0px 30px; border-radius: 5px; background-color: rgba(18, 219, 0, 0.24);"
                (click)="movimientoLocal.ok_descarga = 1">OK</button>
        </div>
        <div class="field col">
            <select [(ngModel)]="movimientoLocal.ok_contratos" class="input-text-codigo"
                style="width: 250px; height: 30px;">
                <option value=1>CORRECTO</option>
                <option value=2>INCOMPLETO</option>
                <option value=3>FALTAN DATOS</option>
                <option value=4>VERIFICAR</option>
            </select>
            <button
                style="width: 100px; height: 50px; margin: 0px 0px 0px 30px; border-radius: 5px; background-color: rgba(18, 219, 0, 0.24);"
                (click)="movimientoLocal.ok_contratos = 1">OK</button>
        </div>
    </div>

    <div class="formgrid row" *ngIf="!existeMovimientoLocal">
        <button (click)="crearMovimientoLocal()">CREAR MOVIMIENTO LOCAL</button>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="BORRAR LOCAL" class="p-button-danger bott"
            (click)="borrarMovimientoLocal()"></button>
        <button pButton pRipple type="button" label="TODO OK" class="p-button-success bott"
            (click)="(movimientoLocal.ok_origen = 1) && (movimientoLocal.ok_balanza = 1) && (movimientoLocal.ok_acondicionadora = 1) && (movimientoLocal.ok_descarga = 1) && (movimientoLocal.ok_contratos = 1)"></button>
        <button pButton pRipple type="button" label="GUARDAR CAMBIOS" class="p-button-success bott"
            (click)="guardarCambiosMovimientoLocal()"></button>
    </ng-template>
</p-dialog>


<p-dialog header="ORIGEN" [(visible)]="displayOrigen" [modal]="true" [style]="{width: '50vw', height: '20vw'}"
    [draggable]="true" [resizable]="false">
    <h6>ORIGEN:</h6>
    <div class="tarjeta">
        <div class="formgrid row">
            <div class="field col">
                <select class="input-text-codigo" style="width: 130px;" [(ngModel)]="movimientoOrigen.tipo_origen"
                    (ngModelChange)="setearOrigen()">
                    <option value="lote">LOTE</option>
                    <option value="silo">SILO</option>
                </select>
            </div>
            <div class="field col">
                <select class="input-text-codigo" style="width: 300px;"
                    [(ngModel)]="movimientoOrigen.id_establecimiento" (ngModelChange)="setearOrigen()">
                    <option *ngFor="let est of db_locales.establecimientos" value="{{est.id}}">{{est.alias}}</option>
                </select>
            </div>
            <div class="field col">
                <select class="input-text-codigo" style="width: 300px;" [(ngModel)]="movimientoOrigen.id_origen">
                    <option *ngFor="let cod of codigosMovientoOrigen" value="{{cod.id}}">{{cod.alias}}</option>
                </select>
            </div>
            <div class="field col">
                <input class="input-text-codigo" style="width: 100px;" type="number"
                    [(ngModel)]="movimientoOrigen.kilos">
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="GUARDAR" class="p-button-success bott"
            (click)="guardarOrigenMovimiento()"></button>
    </ng-template>
</p-dialog>
