
<div class="card">
    <h5>Tablas generales del sistema</h5>
    <p-tabView>
        <p-tabPanel header="CAMAPAÑAS">
            <app-campanas></app-campanas>
        </p-tabPanel>
        <p-tabPanel header="GRANOS">
            <app-granos></app-granos>
        </p-tabPanel>
        <p-tabPanel header="SOCIOS">
            <app-socios></app-socios>
        </p-tabPanel>
        <p-tabPanel header="ESTABLECIMIENTOS">
            <app-establecimientos></app-establecimientos>
        </p-tabPanel>
        <p-tabPanel header="DEPOSITOS">
            <app-depositos></app-depositos>
        </p-tabPanel>
        <p-tabPanel header="COND. IVA">
            <app-condicion-iva></app-condicion-iva>
        </p-tabPanel>
        <p-tabPanel header="GASTOS">
            <app-gastos></app-gastos>
        </p-tabPanel>
    </p-tabView>
</div>