<br>

<div style="margin: 20px 200px 20px 200px;">
    <div class="tarjeta">
        <div class="formgrid row">
            <div #CAMPOS class="field col">
                <div style="margin: 0px 0px 10px 0px; padding: 30px;">
                    <h3 style="text-align: center;"><strong>TOTALES CAMPOS</strong></h3>
                    <br>
                    <style>
                        table {
                            border-collapse: collapse;
                            width: 100%;
                        }

                        th,
                        td {
                            text-align: left;
                            padding: 8px;
                            border-bottom: 1px solid #ddd;
                        }

                        th {
                            background-color: #f2f2f2;
                        }

                        tr:hover {
                            background-color: #f5f5f5;
                        }
                    </style>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="padding: 3px;" *ngFor="let col of colsCampos">
                                    {{col.header}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let establecimiento of datosEstablecimiento">
                                <td style="padding: 2px;" *ngFor="let col of colsCampos"
                                    class="{{ col.field == 'kg_pendiente' ? 'negrita' : ''}}">
                                    <label>{{establecimiento[col.field]}}</label>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="padding: 2px; background-color: rgba(187, 187, 187, 0.212); font-weight: bold;"
                                    *ngFor="let col of cols" class="{{ col.field == 'kg_total' ? 'negrita' : ''}}">
                                    <label>{{datosTotales[col.field]}}</label>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br><br>
</div>

<br>
<div *ngFor="let dato of datosGenerales">
    <div *ngIf="dato.silos.length" class="tarjeta" style="margin: 20px 200px 20px 200px;">
        <div class="formgrid row">
            <div #CAMPOS class="field col">
                <div style="margin: 0px 0px 10px 0px; padding: 30px;">
                    <h3 style="text-align: center;" id="{{dato.establecimiento_id}}"><strong>{{dato.establecimiento}}</strong></h3>
                    <br>
                    <style>
                        table {
                            border-collapse: collapse;
                            width: 100%;
                        }

                        th,
                        td {
                            text-align: left;
                            padding: 8px;
                            border-bottom: 1px solid #ddd;
                        }

                        th {
                            background-color: #f2f2f2;
                        }

                        tr:hover {
                            background-color: #f5f5f5;
                        }
                    </style>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="padding: 3px;" *ngFor="let col of cols">
                                    {{col.header}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let silo of dato.silos">
                                <td style="padding: 2px;" *ngFor="let col of cols"
                                    class="{{ col.field == 'kg_pendiente' ? 'negrita' : ''}}">
                                    <label>{{silo[col.field]}}</label>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="padding: 2px; background-color: rgba(187, 187, 187, 0.212); font-weight: bold;"
                                    *ngFor="let col of cols" class="{{ col.field == 'kg_total' ? 'negrita' : ''}}">
                                    <label>{{dato.totales[col.field]}}</label>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br><br><br><br>
</div>