<div style="margin: 20px 150px;">


    <div #SOCIOS class="formgrid row">
        <div class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;">MODIFICAR <strong>SOCIOS</strong> DE MOVs, USANDO CPEs</h5>
                <style>
                    table {
                        border-collapse: collapse;
                        width: 100%;
                    }

                    th,
                    td {
                        text-align: left;
                        padding: 8px;
                        border-bottom: 1px solid #ddd;
                    }

                    th {
                        background-color: #f2f2f2;
                    }

                    tr:hover {
                        background-color: #f5f5f5;
                    }
                </style>
                <button (click)="obtenerMovimientos()">Obtener Movimientos</button>
                <button (click)="obtenerSociosCPE()">Obtener Socios CPE</button>
                <br>
                <br>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px;" *ngFor="let col of colsProd">
                                {{col.header}}
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datoTabla" class="{{dato.diferencia ? 'rojo' : ''}}">
                            <td style="padding: 2px;" *ngFor="let col of colsProd">
                                <label><strong>{{dato[col.field]}}</strong></label>
                            </td>
                            <td>
                                <button *ngIf="dato.diferencia" pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-success" style="margin: 1px; padding: 0px;"
                                    (click)="modificar(dato.id)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>

    <div #CORREDORES class="formgrid row">
        <div class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;">MODIFICAR <strong>CORREDORES</strong> DE MOVs, USANDO CPEs</h5>
                <button (click)="obtenerMovimientosCorredor()">Obtener Movimientos</button>
                <button (click)="obtenerCorredorCPE()">Obtener Corr CPE</button>
                <br>
                <br>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px;" *ngFor="let col of colsCorr">
                                {{col.header}}
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datoTablaCorredores" class="{{dato.diferencia ? 'rojo' : ''}}">
                            <td style="padding: 2px;" *ngFor="let col of colsCorr">
                                <label><strong>{{dato[col.field]}}</strong></label>
                            </td>
                            <td>
                                <button *ngIf="dato.diferencia" pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-success" style="margin: 1px; padding: 0px;"
                                    (click)="modificarCorredor(dato.id)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div #DEPOSITOS class="formgrid row">
        <div class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;">MODIFICAR <strong>DEPOSITOS</strong> DE MOVs</h5>
                <button (click)="obtenerMovimientosDepositos()">Obtener Movimientos</button>
                <br>
                <br>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px;" *ngFor="let col of colsDep">
                                {{col.header}}
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datoTablaDeposito"
                            class="{{(dato.kilos && !dato.deposito) ? 'rojo' : ''}}">
                            <td style="padding: 2px;" *ngFor="let col of colsDep">
                                <label *ngIf="col.field != 'deposito'"><strong>{{dato[col.field]}}</strong></label>

                                <select *ngIf="col.field == 'deposito'" [(ngModel)]="dato[col.field]">
                                    <option *ngFor="let dep of db.depositos" value="{{dep.id}}">{{dep.alias}}</option>
                                </select>
                            </td>

                            <td>
                                <button *ngIf="dato.kilos" pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-success" style="margin: 1px; padding: 0px;"
                                    (click)="modificarDeposito(dato.id)"></button>
                                <button *ngIf="dato.deposito" pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-danger" style="margin: 1px; padding: 0px;"
                                    (click)="borrarDeposito(dato.id)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<br>
<br>
<br>
<br>

<p-gmap [options]="options" [style]="{'width':'100%','height':'320px'}" ></p-gmap>

<button (click)="testEstado(true)" [style]="{'background-color': background}">ESTADO</button>

<div class="formgrid row text-center">
    <div class="field col">
        <h5>Temperatura</h5>
        <p-knob [(ngModel)]="temperatura" valueTemplate="{value} C°" [readonly]="true" [size]="200"></p-knob>
    </div>
    <div class="field col">
        <h5>Humedad</h5>
        <p-knob [(ngModel)]="humedad" valueTemplate="{value} %" [readonly]="true" [size]="200"></p-knob>
    </div>
</div>


<style>
    .cuadro {
        width: 50px;
        height: 50px;
        border: solid 2px;
        margin: 2px;
        padding: 2px;
    }

    .padd {
        margin: 0px;
        padding: 0px;
    }
    .division {
        width: 600px;
        background-color: aliceblue;
        border: solid;
        border-color: bisque;
        margin: 100px;
        padding: 20px;
    }
</style>


<div class="division">
    <div class="formgrid row" *ngFor="let fila of filas">
        <div class="col padd" *ngFor="let columna of columnas">
            <div class="cuadro {{fondos[fila][columna] ? 'verde' : 'rojo'}}" (click)="fondos[fila][columna] = !(fondos[fila][columna])"></div>
        </div>
    </div>
</div>


<br><br><br><br><br><br><br>