.tarjeta {
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 2px;
    padding: 10px;
    box-shadow: 5px 5px 10px #002a613a;
    height: 300px;

    border-left: 10px solid #3b82f6;
}

.tablaDatos {
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.rojo {
    background-color: rgba(255, 0, 0, 0.158);
}