<div style="margin: 20px 50px;">


    <div class="formgrid row ocultarImpresion">
        <div class="field col">
            <select
                *ngIf="this.ok_movimientos && this.ok_movimientos_local && this.ok_cpe && this.ok_socios && this.ok_establecimientos && this.ok_establecimientoProduccion && this.ok_silos && this.ok_loteASilos && this.ok_movimiento_origen && this.ok_lotes && this.ok_produccion && this.ok_contratosDB && this.ok_movimiento_contrato"
                [(ngModel)]="idGranosSeleccionado">
                <option *ngFor="let dato of db.granos" value="{{dato.id}}">{{dato.alias}}</option>
            </select>
        </div>
        <div class="field col">
            <input type="date" [(ngModel)]="fechaDesde">
        </div>
        <div class="field col">
            <input type="date" [(ngModel)]="fechaHasta">
        </div>
        <div class="field col">
            <button pButton pRipple type="button" label="Buscar" class="p-button-success bott" (click)="armarDatosMovimientos()"></button>
        </div>
    </div>



</div>
