<div style="text-align: center;"
    *ngIf="load_carta_porte || load_ordenes_pago ||  load_medios_pago || load_asientos || load_ordenes_carga || load_camiones || load_choferes || load_condicion_iva || load_transportistas || load_movimientos || load_granos">
    <br><br><br><br><p-progressSpinner></p-progressSpinner><br><br>
</div>


<!-- TABLAS (transp, chofer y camiones) -->
<br>
<div class="formgrid row">
    <div class="field col-3">
        <p-dropdown (onChange)="onSelectSocio()" [options]="db_socios" [(ngModel)]="socio"
            optionLabel="alias"></p-dropdown>

        <p-listbox [options]="db_transportistas" [(ngModel)]="transportista" [metaKeySelection]="false"
            [checkbox]="false" [filter]="true" [multiple]="false" optionLabel="alias"
            [listStyle]="{'max-height':'100%'}" [style]="{'width':'100%'}" (onChange)="onSelectTransporte()">
            <ng-template let-transport pTemplate="item">
                <div class="transport-item">
                    <div>{{transport.alias}} - {{transport.cuit}}</div>
                </div>
            </ng-template>
        </p-listbox>

    </div>
    <div class="field col-9">
        <p-card header="{{transportista ? transportista.alias : ''}}">
            <div *ngIf="transportista">
                <button pButton pRipple type="button" label="NUEVO VIAJE" class="p-button-success bott"
                    (click)="nuevoAsientoViaje()"></button>
                <button pButton pRipple type="button" label="GASTO" class="p-button-success bott" 
                    (click)="nuevoAsientoGasto()"></button>
                <button pButton pRipple type="button" label="ORDEN DE PAGO" class="p-button-success bott"
                    (click)="nuevoOrdenDePago()"></button>

                <hr>

                <style>
                    table {
                        border-collapse: collapse;
                        width: 100%;
                    }

                    th,
                    td {
                        text-align: left;
                        padding: 8px;
                        border-bottom: 1px solid #ddd;
                    }

                    th {
                        background-color: #f2f2f2;
                    }

                    tr:hover {
                        background-color: #f5f5f5;
                    }
                </style>

                <h3>Resumen de cuenta</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Descripción</th>
                            <th>Ingreso</th>
                            <th>Gasto</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datosCuentaCorriente" (dblclick)="mostrarAsiento(dato)">
                            <td>{{dato.fecha}}</td>
                            <td>{{dato.tipo}}</td>
                            <td>{{dato.descripcion}}</td>
                            <td>{{transformarDatoMostrarTabla(dato.ingreso, 'moneda')}}</td>
                            <td>{{transformarDatoMostrarTabla(dato.gasto, 'moneda')}}</td>
                            <td>{{transformarDatoMostrarTabla(dato.saldo, 'moneda')}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Total</th>
                            <td><strong>{{transformarDatoMostrarTabla(datosCuentaCorrienteTotales.ingreso, 'moneda')}}</strong></td>
                            <td><strong>{{transformarDatoMostrarTabla(datosCuentaCorrienteTotales.gasto, 'moneda')}}</strong></td>
                            <td><strong>{{transformarDatoMostrarTabla(datosCuentaCorrienteTotales.saldo, 'moneda')}}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </p-card>
    </div>
</div>


<p-dialog header="NUEVO VIAJE" [(visible)]="displayNuevoViaje" [modal]="true" [style]="{width: '95vw'}"
    [draggable]="true" [resizable]="false">
    <div class="formgrid row">
        <p-table #th [columns]="selectedColumns" [value]="dataMovimientosASeleccionar" selectionMode="single"
            [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
            [paginator]="true" [rows]="25" [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10,25,50,100,1000,3000]">
            <ng-template pTemplate="caption">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columnas seleccionadas" [style]="{'min-width': '300px'}"
                    placeholder="Seleccionar columnas"></p-multiSelect>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        Select
                    </th>
                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-registro let-columns="columns">
                <tr>
                    <td>
                        <button pButton pRipple type="button" label="SELEC" class="p-button-success bott" (click)="agregarMovimiento(registro)"></button>
                    </td>
                    <td *ngFor="let col of columns">
                        {{transformarDatoMostrarTabla(registro[col.field], col.field)}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <button pButton pRipple type="button" label="{{verViajesPreviamenteAfec ? 'NO VER VIAJES PREVIAMENTE AFECTADOS' : 'VER VIAJES PREVIAMENTE AFECTADOS'}}" class="p-button-{{verViajesPreviamenteAfec ? 'danger' : 'success'}} bott" (click)="verViajesPreviamenteAfectados()"></button>
    <br>
    <hr>
    <h6>Viajes Seleccionados:</h6>
    <p *ngFor="let mov of dataMovimientosSeleccionados">
        {{mov.fecha}} - {{mov.cultivo}} - CTG: {{mov.ctg}} - CPE: {{mov.cpe}} - $ {{mov.monto_final}}
    </p>
    <br>
    <h6>Total Seleccionado: ${{datosAsiento.montoTotal}}</h6>
    
    <br>
    <hr>
    <br>
    <h5>Comprobante</h5>
    <div class="formgrid row">
        <div class="field col">
            <label>Ticket/Factura</label><br>
            <div class="formgrid row">
                <div class="field col-3">
                    <select class="select-class" style="width: 100px;" [(ngModel)]="datosAsiento.cpte_letra">
                        <option value=A selected>A</option>
                        <option value=B>B</option>
                        <option value=C>C</option>
                        <option value=X>X</option>
                    </select>
                </div>
                <div class="field col-3">
                    <input type="text" class="input-text-codigo" style="width: 100px;" placeholder="Punto" [(ngModel)]="datosAsiento.cpte_punto" (ngModelChange)="cambiaNumFactura()">
                </div>
                <div class="field col-6">
                    <input type="text" class="input-text-codigo" style="width: 100px;" placeholder="Numero" [(ngModel)]="datosAsiento.cpte_numero" (ngModelChange)="cambiaNumFactura()">
                </div>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Monto Total</label><br>
                <input type="number" class="input-text-codigo" style="width: 200px;" placeholder="Monto factura" [(ngModel)]="datosAsiento.montoFactura">
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Fecha</label><br>
                <input type="date" class="select-class" [(ngModel)]="datosAsiento.fecha">
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h5>Datos Asiento</h5>
    <div class="formgrid row">
        <label>Descripcion</label><br>
        <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="datosAsiento.descripcion">
    </div>
    <div class="formgrid row">
        <label>Observaciones</label><br>
        <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="datosAsiento.observacion">
    </div>

    <br>
    <hr>
    <br>
    <h5>Archivos:</h5>
    <div class="formgrid row">
        <p-fileUpload #myCargador name="demo[]" [showUploadButton]="false" url="{{API_URI}}/upload.php?folder={{datosAsiento.id}}" (onUpload)="onUpload($event)" [multiple]="true">
            <ng-template pTemplate="content">
            </ng-template>
        </p-fileUpload>
    </div>



    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="GUARDAR" class="p-button-success bott" (click)="guardarAsiento()"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott" (click)="displayNuevoViaje=false"></button>
    </ng-template>
</p-dialog>


<p-dialog header="VER ASIENTO {{datosAsientoMostrar.tipo}} - ID {{datosAsientoMostrar.id}}" [(visible)]="displayVerAsiento" [modal]="true" [style]="{width: '95vw'}"
    [draggable]="true" [resizable]="false">
    <div class="formgrid row">
        <h4>Movimientos afectados:</h4>
        <p *ngFor="let mov of datosAsientoMostrar.afectar">
            {{mov}}
        </p>
    </div>
    <hr>
    <br>
    <h5>Comprobante</h5>
    <div class="formgrid row">
        <div class="field col">
            <label>Ticket/Factura</label><br>
            <div class="formgrid row">
                <div class="field col-3">
                    <select class="select-class" style="width: 100px;" [(ngModel)]="datosAsientoMostrar.cpte_letra">
                        <option value=A selected>A</option>
                        <option value=B>B</option>
                        <option value=C>C</option>
                        <option value=X>X</option>
                    </select>
                </div>
                <div class="field col-3">
                    <input type="text" class="input-text-codigo" style="width: 100px;" placeholder="Punto" [(ngModel)]="datosAsientoMostrar.cpte_punto">
                </div>
                <div class="field col-6">
                    <input type="text" class="input-text-codigo" style="width: 100px;" placeholder="Numero" [(ngModel)]="datosAsientoMostrar.cpte_numero">
                </div>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>DEBE</label><br>
                <input type="number" class="input-text-codigo" style="width: 200px;" placeholder="Monto factura" [(ngModel)]="datosAsientoMostrar.debe">
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>HABER</label><br>
                <input type="number" class="input-text-codigo" style="width: 200px;" placeholder="Monto factura" [(ngModel)]="datosAsientoMostrar.haber">
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Fecha</label><br>
                <input type="text" class="select-class" [(ngModel)]="datosAsientoMostrar.fecha">
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h5>Datos Asiento</h5>
    <div class="formgrid row">
        <label>Descripcion</label><br>
        <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="datosAsientoMostrar.descripcion">
    </div>
    <div class="formgrid row">
        <label>Observaciones</label><br>
        <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="datosAsientoMostrar.observacion">
    </div>

    <br>
    <hr>
    <br>
    <div *ngIf="datosAsientoMostrar.archivos">
        <h5>Archivos:</h5>
        <div class="formgrid row">
            <a *ngFor="let archivo of datosAsientoMostrar.archivos" href="{{API_URI}}/download.php?folder={{datosAsientoMostrar.id}}&file={{archivo}}">
                <div class="tarjeta">
                    {{archivo}}
                </div>
            </a>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="BORRAR" class="p-button-danger bott" (click)="borrarAsiento(datosAsientoMostrar.id)"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott" (click)="displayVerAsiento=false"></button>
    </ng-template>
</p-dialog>

<p-dialog header="NUEVO GASTO" [(visible)]="displayNuevoGasto" [modal]="true" [style]="{width: '95vw'}"
    [draggable]="true" [resizable]="false">
    <div class="formgrid row">
        <p-table #th [columns]="selectedColumns" [value]="dataMovimientosASeleccionarGastos" selectionMode="single"
            [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
            [paginator]="true" [rows]="25" [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10,25,50,100,1000,3000]">
            <ng-template pTemplate="caption">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columnas seleccionadas" [style]="{'min-width': '300px'}"
                    placeholder="Seleccionar columnas"></p-multiSelect>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        Select
                    </th>
                    <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                        {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-registro let-columns="columns">
                <tr>
                    <td>
                        <button pButton pRipple type="button" label="SELEC" class="p-button-success bott" (click)="agregarMovimientoGasto(registro)"></button>
                    </td>
                    <td *ngFor="let col of columns">
                        {{transformarDatoMostrarTabla(registro[col.field], col.field)}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <button pButton pRipple type="button" label="{{verViajesPreviamenteAfec ? 'NO VER VIAJES PREVIAMENTE AFECTADOS' : 'VER VIAJES PREVIAMENTE AFECTADOS'}}" class="p-button-{{verViajesPreviamenteAfec ? 'danger' : 'success'}} bott" (click)="verViajesPreviamenteAfectados()"></button>
    <br>
    <hr>
    <h6>Viajes Seleccionados:</h6>
    <p *ngFor="let mov of dataMovimientosSeleccionados">
        {{mov.fecha}} - {{mov.cultivo}} - CTG: {{mov.ctg}} - CPE: {{mov.cpe}}
    </p>    
    <br>
    <hr>
    <br>
    <h5>Comprobante</h5>
    <div class="formgrid row">
        <div class="field col">
            <label>Ticket/Factura</label><br>
            <div class="formgrid row">
                <div class="field col-3">
                    <select class="select-class" style="width: 100px;" [(ngModel)]="datosAsiento.cpte_letra">
                        <option value=A selected>A</option>
                        <option value=B>B</option>
                        <option value=C>C</option>
                        <option value=X>X</option>
                    </select>
                </div>
                <div class="field col-3">
                    <input type="text" class="input-text-codigo" style="width: 100px;" placeholder="Punto" [(ngModel)]="datosAsiento.cpte_punto" (ngModelChange)="cambiaNumFactura()">
                </div>
                <div class="field col-6">
                    <input type="text" class="input-text-codigo" style="width: 100px;" placeholder="Numero" [(ngModel)]="datosAsiento.cpte_numero" (ngModelChange)="cambiaNumFactura()">
                </div>
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Monto Total</label><br>
                <input type="number" class="input-text-codigo" style="width: 200px;" placeholder="Monto factura" [(ngModel)]="datosAsiento.montoFactura">
            </div>
        </div>
        <div class="field col">
            <div class="field">
                <label>Fecha</label><br>
                <input type="date" class="select-class" [(ngModel)]="datosAsiento.fecha">
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h5>Datos Asiento</h5>
    <div class="formgrid row">
        <label>Descripcion</label><br>
        <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="datosAsiento.descripcion">
    </div>
    <div class="formgrid row">
        <label>Observaciones</label><br>
        <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="datosAsiento.observacion">
    </div>

    <br>
    <hr>
    <br>
    <h5>Archivos:</h5>
    <div class="formgrid row">
        <p-fileUpload #myCargadorGasto name="demo[]" [showUploadButton]="false" url="{{API_URI}}/upload.php?folder={{datosAsiento.id}}" (onUpload)="onUpload($event)" [multiple]="true">
            <ng-template pTemplate="content">
            </ng-template>
        </p-fileUpload>
    </div>



    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="GUARDAR" class="p-button-success bott" (click)="guardarAsiento()"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott" (click)="displayNuevoGasto=false"></button>
    </ng-template>
</p-dialog>


<p-dialog header="ORDEN DE PAGO" [(visible)]="displayOrdenPago" [modal]="true" [style]="{width: '95vw'}"
    [draggable]="true" [resizable]="false">
    <div class="formgrid row">
        <h5 style="text-align: center;">CONCEPTOS A PAGAR</h5>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Afectar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of ordenDePago_pagarParaSeleccionar" (dblclick)="(dato.afectar = dato.saldo) && calcularDatosOrdenPago()">
                    <td>{{dato.fecha}}</td>
                    <td>{{dato.tipo}}</td>
                    <td>{{dato.descripcion}}</td>
                    <td>{{transformarDatoMostrarTabla(dato.saldo, 'moneda')}}</td>
                    <td><input type="number" class="input-text-codigo" style="width: 200px;" [(ngModel)]="dato.afectar" (ngModelChange)="calcularDatosOrdenPago()"></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <br>
        <br>
        <br>

        <h5 style="text-align: center;">CONCEPTOS A DESCONTAR</h5>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Afectar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of ordenDePago_descontarParaSeleccionar"  (dblclick)="(dato.afectar = dato.saldo) && calcularDatosOrdenPago()">
                    <td>{{dato.fecha}}</td>
                    <td>{{dato.tipo}}</td>
                    <td>{{dato.descripcion}}</td>
                    <td>{{transformarDatoMostrarTabla(dato.saldo, 'moneda')}}</td>
                    <td><input type="number" class="input-text-codigo" style="width: 200px;" [(ngModel)]="dato.afectar" (ngModelChange)="calcularDatosOrdenPago()"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <hr>
    <hr>
    <br>
    <h3 style="text-align: center;"><strong>ORDEN DE PAGO</strong></h3>
    <div class="formgrid row">
        <table>
            <thead>
                <tr>
                    <th>CONCEPTOS AFECTADOS</th>
                    <th>DEBE</th>
                    <th>HABER</th>
                    <th>SALDO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of ordenDePago_conceptosAfectados">
                    <td>{{dato.descripcion}}</td>
                    <td>{{transformarDatoMostrarTabla(dato.debe, 'moneda')}}</td>
                    <td>{{transformarDatoMostrarTabla(dato.haber, 'moneda')}}</td>
                    <td>{{transformarDatoMostrarTabla(dato.saldo, 'moneda')}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Total</th>
                    <td><strong>{{transformarDatoMostrarTabla(ordenDePago_saldoFinalAfectar, 'moneda')}}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <br>
    <hr>
    <br>
    <h5>DETALLE MEDIOS DE PAGO</h5>
    <button pButton type="button" label="AGREGAR CHEQUE BNA" class="p-button-success bott" (click)="agregarMedioPagoOrdenPago('CHEQUE', 'BANCO NACION - Nro: ')"></button>
    <button pButton type="button" label="AGREGAR CHEQUE NBCH" class="p-button-success bott" (click)="agregarMedioPagoOrdenPago('CHEQUE', 'NUEVO BANCO DEL CHACO - Nro: ')"></button>
    <button pButton type="button" label="AGREGAR E-CHEQ" class="p-button-success bott" (click)="agregarMedioPagoOrdenPago('ECHEQ', 'ECHEQ - Nro: ')"></button>
    <button pButton type="button" label="AGREGAR EFECTIVO" class="p-button-success bott" (click)="agregarMedioPagoOrdenPago('EFECTIVO', 'CAJA 1')"></button>
    <button pButton type="button" label="AGREGAR OTRO" class="p-button-success bott" (click)="agregarMedioPagoOrdenPago('OTRO', '')"></button>

    <div class="formgrid row">
        <table>
            <thead>
                <tr>
                    <th>TIPO</th>
                    <th>DETALLE</th>
                    <th>FECHA VTO</th>
                    <th>VALOR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of ordenDePago_mediosPago">
                    <td><input type="text" class="input-text-codigo" style="width: 160px;" [(ngModel)]="dato.tipo"></td>
                    <td><input type="text" class="input-text-codigo" style="width: 600px;" [(ngModel)]="dato.descripcion"></td>
                    <td><input type="date" class="input-text-codigo" style="width: 160px;" [(ngModel)]="dato.fecha"></td>
                    <td><input type="number" class="input-text-codigo" style="width: 160px;" [(ngModel)]="dato.valor" (ngModelChange)="calcularSaldoFinalPagando()"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Total (el total a pagar es: {{transformarDatoMostrarTabla(ordenDePago_saldoFinalAfectar, 'moneda')}} )</th>
                    <td><strong>{{transformarDatoMostrarTabla(ordenDePago_saldoFinalPagando, 'moneda')}}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br><br><br>
    <h5>Datos RECEPTOR</h5>
    <div class="formgrid row">
        <div class="col-4">
            <label>Razon Social</label><br>
            <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="ordenDePago_datos.beneficiario_razon">
        </div>
        <div class="col-2">
            <label>CUIT</label><br>
            <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="ordenDePago_datos.beneficiario_cuit">
        </div>
        <div class="col-5">
            <label>DOMICILIO</label><br>
            <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="ordenDePago_datos.beneficiario_domicilio">
        </div>
        <div class="col-1">
            <label>CODIGO</label><br>
            <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="ordenDePago_datos.beneficiario_codigo">
        </div>
    </div>
    <br>
    <div class="formgrid row">
        <div class="col">
            <label>Observaciones</label><br>
            <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="ordenDePago_datos.observacion">
        </div>
    </div>
    <div class="formgrid row">
        <div class="col">
            <label>Numero en letras</label><br>
            <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="ordenDePago_datos.total_letras">
        </div>
    </div>
    <br>
    <hr>
    <br>

    <h5>Datos Asiento</h5>
    <div class="formgrid row">
        <label>Descripcion</label><br>
        <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="ordenDePago_datos.descripcion">
    </div>


    <br>
    <hr>
    <br>


    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="GUARDAR" class="p-button-success bott" (click)="guardarOrdenPago()"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott" (click)="displayOrdenPago=false"></button>
    </ng-template>
</p-dialog>


<p-dialog header="VER ORDEN DE PAGO" [(visible)]="displayVerOrdenPago" [modal]="true" [style]="{width: '1200px'}"
    [draggable]="true" [resizable]="false">

    <h3 style="text-align: center;"><strong>ORDEN DE PAGO</strong></h3>
    <div class="formgrid row">
        <table>
            <thead>
                <tr>
                    <th>CONCEPTOS AFECTADOS</th>
                    <th>DEBE</th>
                    <th>HABER</th>
                    <th>SALDO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of ordenDePago_conceptosAfectados">
                    <td>{{dato.descripcion}}</td>
                    <td>{{transformarDatoMostrarTabla(dato.debe, 'moneda')}}</td>
                    <td>{{transformarDatoMostrarTabla(dato.haber, 'moneda')}}</td>
                    <td>{{transformarDatoMostrarTabla(dato.saldo, 'moneda')}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Total</th>
                    <td><strong>{{transformarDatoMostrarTabla(ordenDePago_saldoFinalAfectar, 'moneda')}}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <br>
    <hr>
    <br>
    <h5>DETALLE MEDIOS DE PAGO</h5>

    <div class="formgrid row">
        <table>
            <thead>
                <tr>
                    <th>TIPO</th>
                    <th>DETALLE</th>
                    <th>FECHA</th>
                    <th>VALOR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of ordenDePago_mediosPago">
                    <td><input type="text" class="input-text-codigo" style="width: 160px;" [(ngModel)]="dato.tipo"></td>
                    <td><input type="text" class="input-text-codigo" style="width: 600px;" [(ngModel)]="dato.descripcion"></td>
                    <td><input type="text" class="input-text-codigo" style="width: 160px;" [(ngModel)]="dato.fecha"></td>
                    <td><input type="number" class="input-text-codigo" style="width: 160px;" [(ngModel)]="dato.valor" (ngModelChange)="calcularSaldoFinalPagando()"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div class="formgrid row">
        <div class="col">
            <label>Observaciones</label><br>
            <input type="text" class="input-text-codigo" style="width: 100%;" [(ngModel)]="ordenDePago_datos.observacion">
        </div>
    </div>
    <br>
    <hr>
    <br>
    
    <div class="formgrid row">
        <div class="col">
            <p-button label="VER" icon="pi pi-eye" styleClass="p-button-lg" style="margin: 10px;" (click)="mostrarOrdenPago('ver')"></p-button>
            <p-button label="DESCARGAR" icon="pi pi-download" styleClass="p-button-lg" style="margin: 10px;" (click)="mostrarOrdenPago('descargar')"></p-button>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="BORRAR" class="p-button-danger bott" (click)="borrarOrdenPago()"></button>
        <button pButton pRipple type="button" label="SALIR" class="p-button-danger bott" (click)="displayVerOrdenPago=false"></button>
    </ng-template>
</p-dialog>
