.bott {
    margin: 3px;
    padding: 5px 20px;
}

.select-class {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.select-class option {
  font-size: 16px;
}

.input-text-codigo {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"]:checked {
    background-color: #007bff;
}
input[type="checkbox"]:checked {
    border-color: #007bff;
}
input[type="checkbox"]:hover {
    cursor: pointer;
}
input[type="checkbox"] {
    transform: scale(1.5);
}

.tarjeta {
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 8px;
    padding: 5px 20px;
    margin: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}