<div *ngIf="sessionIniciada">
    <button pButton pRipple type="button" label="INICIO" class="p-button-success bott" routerLink="inicio"></button>
    <button pButton pRipple type="button" label="TRANSPORTISTAS" class="p-button-primary bott" routerLink="transportistas"></button>
    <button pButton pRipple type="button" label="INTERVINIENTES" class="p-button-primary bott" routerLink="intervinientes"></button>
    <button pButton pRipple type="button" label="CUENTAS CORRIENTES" class="p-button-primary bott" routerLink="ctasctes"></button>
    <button pButton pRipple type="button" label="TABLAS GENERALES" class="p-button-primary bott" routerLink="tablas"></button>    
    <button pButton pRipple type="button" label="{{fechaHoraActualizacion.actualizado ? fechaHoraActualizacion.fechaHoraActualizacion : 'NO SINCRONIZADO'}}" title="{{fechaHoraActualizacion.fechaHoraActualizacionLarga}}" (click)="actualizar()" class="{{fechaHoraActualizacion.actualizado ? 'p-button-success' : 'p-button-danger'}} bott"  icon="pi {{fechaHoraActualizacion.actualizado ? 'pi-check' : 'pi-replay'}}" iconPos="right"></button>
    <button pButton pRipple type="button" label="CERRAR SESION" class="p-button-danger bott" routerLink="unlogin" icon="pi pi-sign-out" iconPos="right"></button>
    <select *ngIf="this.esSuperUsuario" id="boton-desplegable" (ngModelChange)="routerLinkIr($event)" [ngModel]="1">
        <option value="1" disabled>Ir a</option>
        <option value="camiones">Camiones</option>
        <option value="pagosEmitidos">Campos/Lotes/Silos</option>
        <option value="pagosEmitidos">Pagos Emitidos</option>
        <option value="actualizarCPE">Actualizar CPE</option>
        <option value="actualizarCPE">Actualizar CPE</option>
    </select>

</div>

<router-outlet></router-outlet>

<p-toast></p-toast>

<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="'bottom-right'" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>