<div *ngIf="sessionIniciada">
    <button pButton pRipple type="button" label="INICIO" class="p-button-success bott" routerLink="inicio"></button>
    <button pButton pRipple type="button" label="TRANSPORTISTAS" class="p-button-primary bott" routerLink="login"></button>
    <button pButton pRipple type="button" label="CHOFERES" class="p-button-primary bott" routerLink="login"></button>
    <button pButton pRipple type="button" label="CAMIONES" class="p-button-primary bott" routerLink="login"></button>
    <button pButton pRipple type="button" label="LOGIN" class="p-button-primary bott" routerLink="login"></button>
    <button pButton pRipple type="button" label="LOGIN" class="p-button-primary bott" routerLink="login"></button>
    <button pButton pRipple type="button" label="LOGIN" class="p-button-primary bott" routerLink="login"></button>
    <button pButton pRipple type="button" label="TABLAS GENERALES" class="p-button-primary bott" routerLink="tablas"></button>    
    <button pButton pRipple type="button" label="CERRAR SESION" class="p-button-danger bott" routerLink="unlogin"></button>
</div>

<router-outlet></router-outlet>

<p-toast></p-toast>