<div>
    <p-card style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -80%); text-align: center;" header="{{messageBienvenida}}">
        <ng-template pTemplate="header">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/organization/walter.jpg" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        </ng-template>
        <p>Contraseña:</p>
        <p-password [(ngModel)]="pass" [toggleMask]="true" (keydown.enter)="intentoLogueo()"></p-password>
        <br><br><br>
        <p-button label="Ingresar" (click)="intentoLogueo()"></p-button>
        <br><br>

        <a href="" style="color: rgb(139, 139, 139);">Usar otra cuenta</a>
    </p-card>
</div>