<br>

<div class="ocultarImpresion formgrid row">
    <div class="field col">
        <select [(ngModel)]="idGrano">
            <option *ngFor="let dato of db_granos" value="{{dato.id}}">{{dato.alias}}</option>
        </select>
        <button (click)="generarDatosTabla()" style="margin-left: 50px;">BUSCAR</button>
    </div>
</div>

<div style="margin: 100px;">
    <div class="formgrid row">
        <div #CAMPOS class="field col">
            <div class="tarjeta" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>CAMPOS</strong></h5>
                <style>
                    table {
                        border-collapse: collapse;
                        width: 100%;
                    }
            
                    th,
                    td {
                        text-align: left;
                        padding: 8px;
                        border-bottom: 1px solid #ddd;
                    }
            
                    th {
                        background-color: #f2f2f2;
                    }
            
                    tr:hover {
                        background-color: #f5f5f5;
                    }
                </style>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px;" *ngFor="let col of cols">
                                {{col.header}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datosTabla">
                            <td style="padding: 2px;" *ngFor="let col of cols" class="{{ col.field == 'kg_total' ? 'negrita' : ''}}">
                                <a *ngIf="col.field == 'campo'" href="/produccionDetalle?idd={{dato['id']}}"><label>{{dato['campo']}}</label></a>
                                <label *ngIf="col.field != 'campo'">{{dato[col.field]}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br>
    <div class="formgrid row">
        <div #GRAFICO_KILOS class="field col">
            <div class="tarjeta" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>KGS CAMPO</strong></h5>
                <p-chart type="bar" [data]="graficoKilos"></p-chart>
            </div>
        </div>
    </div>
    <div class="formgrid row">
        <div #GRAFICO_RINDE class="field col">
            <div class="tarjeta" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>RINDE Kgs/has</strong></h5>
                <p-chart type="bar" [data]="graficoRinde"></p-chart>
            </div>
        </div>
    </div>
</div>

