<div style="text-align: center;" *ngIf="spinnerSocios || spinnerContratos || spinnerGranos || spinnerIntervinientes">
    <br><br><br><br><p-progressSpinner></p-progressSpinner><br><br>
</div>

<div style="margin: 30px;">
    <div class="formgrid row">
        <div class="field col">
            <label for="dateformat" style="margin-right: 30px; margin-left: 30px;">SOCIO</label>
            <p-multiSelect (onChange)="crearDatosTabla()" [options]="opt_socios" [(ngModel)]="socios_seleccionados"
                defaultLabel="Seleccionar" optionLabel="alias" optionValue="id"
                selectedItemsLabel="{0} items seleccionados" [style]="{width: '400px'}"
                scrollHeight="800px"></p-multiSelect>
        </div>
        <div class="field col">
            <label for="dateformat" style="margin-right: 30px;">CORREDOR</label>
            <p-multiSelect (onChange)="crearDatosTabla()" [options]="opt_corredores"
                [(ngModel)]="corredores_seleccionados" defaultLabel="Seleccionar" optionLabel="alias" optionValue="cuit"
                selectedItemsLabel="{0} items seleccionados" [style]="{width: '400px'}"
                scrollHeight="800px"></p-multiSelect>
        </div>
        <div class="field col">
            <label for="dateformat" style="margin-right: 30px;">COMPRADOR</label>
            <p-multiSelect (onChange)="crearDatosTabla()" [options]="opt_compradores"
                [(ngModel)]="compradores_seleccionados" defaultLabel="Seleccionar" optionLabel="alias"
                optionValue="cuit" selectedItemsLabel="{0} items seleccionados" [style]="{width: '400px'}"
                scrollHeight="800px"></p-multiSelect>
        </div>
        <div class="field col">
            <label for="dateformat" style="margin-right: 30px;">GRANOS</label>
            <p-multiSelect (onChange)="crearDatosTabla()" [options]="opt_granos" [(ngModel)]="granos_seleccionados"
                defaultLabel="Seleccionar" optionLabel="alias" optionValue="id"
                selectedItemsLabel="{0} items seleccionados" [style]="{width: '400px'}"
                scrollHeight="800px"></p-multiSelect>
        </div>
    </div>
</div>



<div #TABLA style="width: 100%; overflow-x: auto;" style="padding: 50px;">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto;
            font-size: 14px;
            color: #333;
        }

        table th,
        table td {
            border: 1px solid #ccc;
            text-align: left;
        }

        table th {
            background-color: #f2f2f2;
        }

        table tr:nth-child(even) {
            background-color: #f8f8f8;
        }
    </style>
    <table>
        <thead>
            <tr style="padding: 0px;">
                <th *ngFor="let col of cols" style="padding: 0px; text-align: center;"
                    (click)="ordenarTabla(col.field)">
                    {{col.header}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registro of dataParaMostrarTabla" (dblclick)="mostrarContrato(registro.id)">
                <td *ngFor="let col of cols" style="padding: 1px;">
                    {{registro[col.field]}}
                </td>
                <td style="padding: 0px;">
                    <button pButton type="button" style="margin: 0px; padding: 0px;" (click)="duplicarContrato(registro.id)">
                        <i class="pi pi-arrow-down"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <button pButton type="button" label="NUEVO" style="margin: 5px;" (click)="mostrarContrato()"></button>
    <button pButton type="button" label="EXPORTAR XLSX" style="margin: 5px;" (click)="exportToExcel()"></button>
</div>

<p-dialog header="CONTRATO" [(visible)]="displayContrato" [style]="{width: '70vw', height: '70vw'}">

    <div class="formgrid row">
        <div class="field col">
            <label for="dateformat" style="margin-right: 30px;">FECHA CONTRATO</label>
            <p-calendar [(ngModel)]="contratoMostrar.fecha_contrato" dateFormat="dd/mm/yy"
                inputId="dateformat"></p-calendar>
        </div>
        <div class="field col">
            <label for="dateformat" style="margin-right: 30px;">FECHA DESDE</label>
            <p-calendar [(ngModel)]="contratoMostrar.fecha_desde" dateFormat="dd/mm/yy" inputId="dateformat"
                (ngModelChange)="setearFechaHasta()"></p-calendar>
        </div>
        <div class="field col">
            <label for="dateformat" style="margin-right: 30px;">FECHA HASTA</label>
            <p-calendar [(ngModel)]="contratoMostrar.fecha_hasta" dateFormat="dd/mm/yy"
                inputId="dateformat"></p-calendar>
        </div>
    </div>
    <br>
    <hr>
    <br>


    <div class="formgrid row">
        <div class="field col tarjeta">
            <div class="formgrid row">
                <div class="field col" style="text-align: right;">
                    SOCIO
                </div>
                <div class="field col">
                    <select class="input-text-codigo" style="width: 200px;" [(ngModel)]="contratoMostrar.id_socio">
                        <option *ngFor="let socio of db_socios" value="{{socio.id}}">{{socio.razon_social}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="formgrid row">
                <div class="field col" style="text-align: right;">
                    GRANO
                </div>
                <div class="field col">
                    <select class="input-text-codigo" style="width: 200px;" [(ngModel)]="contratoMostrar.id_grano">
                        <option *ngFor="let grano of db_granos" value="{{grano.id}}">{{grano.alias}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="formgrid row">
                <div class="field col" style="text-align: right;">
                    KILOS PACTADOS
                </div>
                <div class="field col">
                    <input type="number" step="10" class="input-text-codigo" style="width: 140px;"
                        [(ngModel)]="contratoMostrar.kilos"> kgs
                </div>
            </div>
        </div>
        <div class="field col tarjeta">
            <div class="formgrid row">
                <div class="field col-4" style="text-align: right;">
                    CONTRATO
                </div>
                <div class="field col">
                    <input type="text" class="input-text-codigo" style="width: 200px;"
                        [(ngModel)]="contratoMostrar.alias">
                </div>
            </div>
            <br>
            <div class="formgrid row">
                <div class="field col-4" style="text-align: right;">
                    TIPO
                </div>
                <div class="field col">
                    <select class="input-text-codigo" style="width: 200px;" [(ngModel)]="contratoMostrar.tipo_contrato">
                        <option *ngFor="let tipo_contrato of tipos_contrato" value="{{tipo_contrato.field}}">
                            {{tipo_contrato.header}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="formgrid row">
                <div class="field col-4" style="text-align: right;">
                    PRECIO
                </div>
                <div class="field col">
                    <input type="number" step="10" class="input-text-codigo" style="width: 120px;"
                        [(ngModel)]="contratoMostrar.precio">
                    <select class="input-text-codigo" style="width: 80px;" [(ngModel)]="contratoMostrar.moneda">
                        <option *ngFor="let moneda of monedas" value="{{moneda.field}}">{{moneda.header}}</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="field col tarjeta">
            <div class="formgrid row">
                <div class="field col" style="text-align: right;">
                    COMPRADOR
                </div>
                <div class="field col">
                    <select class="input-text-codigo" style="width: 200px;"
                        [(ngModel)]="contratoMostrar.cuit_comprador">
                        <option *ngFor="let interviniente of db_intervinientes" value="{{interviniente.cuit}}">
                            {{interviniente.razon_social}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="formgrid row">
                <div class="field col" style="text-align: right;">
                    CORREDOR
                </div>
                <div class="field col">
                    <select class="input-text-codigo" style="width: 200px;" [(ngModel)]="contratoMostrar.cuit_corredor">
                        <option *ngFor="let interviniente of db_intervinientes" value="{{interviniente.cuit}}">
                            {{interviniente.razon_social}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="formgrid row">
                <div class="field col" style="text-align: right;">
                    DESTINO
                </div>
                <div class="field col">
                    <input type="text" class="input-text-codigo" style="width: 300px;"
                        [(ngModel)]="contratoMostrar.destino">
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="borrarContrato(contratoMostrar.id)" label="Borrar"
            styleClass="p-button-danger"></p-button>
        <p-button icon="pi pi-check" (click)="guardarEditarContrato(contratoMostrar)" label="Guardar"
            styleClass="p-button-success"></p-button>
    </ng-template>
</p-dialog>