<p-table #th [columns]="selectedColumns" [value]="dataParaMostrarTabla" selectionMode="multiple"
    [metaKeySelection]="true" [tableStyle]="{'min-width': '50rem'}"
    styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="100"
    [showCurrentPageReport]="true" [(selection)]="selectedTablaInicio" dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [rowsPerPageOptions]="[10,25,50,100,1000,3000]">
    <ng-template pTemplate="caption">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} columnas seleccionadas" [style]="{'min-width': '300px'}"
            placeholder="Seleccionar columnas"></p-multiSelect>

        <label style="margin-left: 40px;">Buscar: </label>

        <input type="text" class="input-text-codigo {{filtroRapido.orden ? 'fondoVerde' : ''}}"
            style="width: 100px; margin-left: 10px;" placeholder="ORDEN" [(ngModel)]="filtroRapido.orden"
            (ngModelChange)="datosParaTabla()">
        <input type="text" class="input-text-codigo {{filtroRapido.cpe ? 'fondoVerde' : ''}}"
            style="width: 100px; margin-left: 10px;" placeholder="CPE" [(ngModel)]="filtroRapido.cpe"
            (ngModelChange)="datosParaTabla()">
        <input type="text" class="input-text-codigo {{filtroRapido.ctg ? 'fondoVerde' : ''}}"
            style="width: 150px; margin-left: 10px;" placeholder="CTG" [(ngModel)]="filtroRapido.ctg"
            (ngModelChange)="datosParaTabla()">
        <input type="text" class="input-text-codigo {{filtroRapido.patente ? 'fondoVerde' : ''}}"
            style="width: 100px; margin-left: 10px;" placeholder="PAT" [(ngModel)]="filtroRapido.patente"
            (ngModelChange)="datosParaTabla()">

        <select class="input-text-codigo" style="margin-left: 40px;" [(ngModel)]="establecimiento_seleccionado">
            <option *ngFor="let est of db_establecimientos" value="{{est.id}}">{{est.alias}}</option>
        </select>
        <select class="input-text-codigo" style="margin-left: 15px;" [(ngModel)]="grano_seleccionado">
            <option *ngFor="let grano of db_granos" value="{{grano.id}}">{{grano.alias}}</option>
        </select>
        <button pButton pRipple type="button" label="BUSCAR" class="p-button-info bott"
            style="margin: 6px; margin-left: 40px;" (click)="datosParaTablaBuscar()"></button>


        <button pButton pRipple type="button" label="SETEAR KILOS" class="p-button-info bott"
            style="margin: 6px; margin-left: 40px;" (click)="setearKilos()"></button>

        <button *ngIf="selectedTablaInicio" pButton pRipple type="button" label="GUARDAR KILOS"
            class="p-button-success bott" style="margin: 6px; margin-left: 40px;"
            (click)="setearKilosEnMovimientos(0)"></button>
        <button *ngIf="selectedTablaInicio" pButton pRipple type="button" label="GUARDAR OK ACOND."
            class="p-button-success bott" style="margin: 6px; margin-left: 40px;" (click)="setearAconds(0)"></button>
        <button *ngIf="selectedTablaInicio" pButton pRipple type="button" label="SET KG CAMPO"
            class="p-button-success bott" style="margin: 6px; margin-left: 40px;" (click)="setearKilosCampo()"></button>


    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th [style]="{padding: '2px', minWidth: tamanoCols[col.field]}" *ngFor="let col of columns"
                pSortableColumn="{{col.field}}">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
            <th>
                Local
            </th>
            <th>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="registro" [pSelectableRowIndex]="rowIndex" [style]="{height: '25px'}">
            <td *ngFor="let col of columns" [style]="{padding: '0px'}" title="{{col.header}}">

                <div
                    *ngIf="(col.field != 'observaciones') && (col.field != 'neto') && (col.field != 'regulacion') && (col.field != 'final')">
                    {{registro[col.field]}}
                </div>

                <div *ngIf="(col.field == 'neto') || (col.field == 'regulacion') || (col.field == 'final')">
                    <input type="number" style="margin: 0px; padding: 0px; width: 65px;"
                        [(ngModel)]="registro[col.field]">
                </div>

                <div *ngIf="col.field == 'observaciones' && registro[col.field]">
                    <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-success bott"
                        style="margin: 1px; padding: 0px; width: 30px;"
                        (click)="(displayObservacion = true) && (datosObservacion = registro[col.field])"></button>
                </div>
            </td>
            <td [style]="{padding: '0px', width: '80px', 'text-align':'center'}">
                <button class="indicadorCua {{ registro.ok_mov ? 'fondoVerde' : 'fondoRojo'}}"></button>
                <button class="indicador {{ registro.ok_origen ? 'fondoVerde' : 'fondoRojo'}}"></button>
                <button class="indicador {{ registro.ok_balanza ? 'fondoVerde' : 'fondoRojo'}}"></button>
                <button class="indicador {{ registro.ok_acondicionadora ? 'fondoVerde' : 'fondoRojo'}}"></button>
                <button class="indicador {{ registro.ok_descarga ? 'fondoVerde' : 'fondoRojo'}}"></button>
                <button class="indicador {{ registro.ok_contratos ? 'fondoVerde' : 'fondoRojo'}}"></button>
            </td>
            <td [style]="{padding: '0px', width: '145px', 'text-align':'center'}">
                <button pButton pRipple type="button" icon="pi pi-save" class="p-button-success bott"
                    style="margin: 1px; padding: 0px; width: 30px;"
                    (click)="crearMovimientoLocal(registro.id)"></button>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger bott"
                    style="margin: 1px; padding: 0px; width: 30px;"
                    (click)="borrarMovimientoLocal(registro.id)"></button>
                <button pButton pRipple type="button" icon="pi pi-save" class="p-button-success bott"
                    style="margin: 1px; padding: 0px; width: 30px;"
                    (click)="setearKilosEnMovimiento(registro)"></button>
                <button pButton pRipple type="button" icon="pi pi-save" class="p-button-success bott"
                    style="margin: 1px; padding: 0px; width: 30px;" (click)="setearAcond(registro)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Observaciones:" [(visible)]="displayObservacion" [style]="{width: '50vw'}">
    <p>{{datosObservacion}}</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayObservacion=false" label="Ok"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>