<div style="margin: 20px 50px;">
    <div #DATOS class="formgrid row {{mostrar_imprimir.datos ? 'mostrarImpresion' : 'ocultarImpresion' }}">
        <div class="field col">
            <div class="card tarjeta">
                <h5>MOVIMIENTOS TOTALES</h5><br>
                <h2 style="text-align: center;"><strong>{{movimientosTotales}}</strong></h2>
            </div>
        </div>
        <div class="field col">
            <div class="card tarjeta">
                <h5>CON KILOS BALANZA</h5><br>
                <h2 style="text-align: center;"><strong>{{movimientosKilosBalanza}}</strong></h2>
            </div>
        </div>
        <div class="field col">
            <div class="card tarjeta">
                <h5>CON KILOS CAMPO</h5><br>
                <h2 style="text-align: center;"><strong>{{movimientosKilosCampo}}</strong></h2>
            </div>
        </div>
        <div class="field col">
            <div class="card tarjeta">
                <h5>MOVIMIENTOS LOCALES</h5><br>
                <h2 style="text-align: center;"><strong>{{movimientosTotalesLocales}}</strong></h2>
            </div>
        </div>
        <div class="field col">
            <div class="card tarjeta">
                <h5>DATOS LOCALES</h5><br>
                <div class="formgrid row">
                    <div class="field col" style="text-align: center;">
                        <p>Orig</p>
                        {{ok_origen}}
                    </div>
                    <div class="field col" style="text-align: center;">
                        <p>Bal</p>
                        {{ok_balanza}}
                    </div>
                    <div class="field col" style="text-align: center;">
                        <p>Acond</p>
                        {{ok_acondicionadora}}
                    </div>
                    <div class="field col" style="text-align: center;">
                        <p>Desc</p>
                        {{ok_descarga}}
                    </div>
                    <div class="field col" style="text-align: center;">
                        <p>Cont</p>
                        {{ok_contratos}}
                    </div>
                </div>
            </div>
        </div>
        <div class="field col">
            <div class="card tarjeta">
                <h5>CARTAS DE PORTE</h5><br>
                <div class="formgrid row">
                    <div class="field col" style="text-align: center;">
                        <p>Total</p>
                        {{cpeTotales}}
                    </div>
                    <div class="field col" style="text-align: center;">
                        <p>CN</p>
                        {{cpeConfirmadas}}
                    </div>
                    <div class="field col" style="text-align: center;">
                        <p>AN</p>
                        {{cpeAnuladas}}
                    </div>
                    <div class="field col" style="text-align: center;">
                        <p>AC</p>
                        {{cpeActivas}}
                    </div>
                    <div class="field col" style="text-align: center;">
                        <p>RE</p>
                        {{cpeRechhazadas}}
                    </div>
                </div>
            </div>
        </div>
        <div class="field col">
            <div class="card tarjeta">
                <h5>EST.</h5><br>
                <div class="formgrid row">
                    <div class="field col" style="text-align: center;">
                        <p>Total</p>
                        {{establecimientos}}
                    </div>
                    <div class="field col" style="text-align: center;">
                        <p>Con Socios</p>
                        {{establecimientosSocio}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    
    <div class="formgrid row ocultarImpresion">
        <div class="field col">
            <select
                *ngIf="this.ok_movimientos && this.ok_movimientos_local && this.ok_cpe && this.ok_socios && this.ok_establecimientos && this.ok_establecimientoProduccion && this.ok_silos && this.ok_loteASilos && this.ok_movimiento_origen && this.ok_lotes && this.ok_produccion && this.ok_contratosDB && this.ok_movimiento_contrato"
                [(ngModel)]="idGranosSeleccionado" (ngModelChange)="armarDatosMovimientos()">
                <option *ngFor="let dato of db.granos" value="{{dato.id}}">{{dato.alias}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="idGranosSeleccionado" class="formgrid row">
        <div class="field col">
            <h1 style="text-align: center;">Cultivo: {{transformarDatoMostrarTabla(idGranosSeleccionado, "grano")}}</h1>
        </div>
        <br><br>
    </div>


    <div #PRODUCCION_CAMPOS class="formgrid row {{mostrar_imprimir.produccion_campos ? 'mostrarImpresion' : 'ocultarImpresion' }}">
        <div #CAMPOS class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>PRODUCCION CAMPOS/SOCIOS - CON KILOS DE BALANZA</strong></h5>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px;" *ngFor="let col of colsProd">
                                {{col.header}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datosTablaProduccion">
                            <td style="padding: 2px;" *ngFor="let col of colsProd">
                                <label>{{dato[col.field]}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="padding: 2px;" *ngFor="let col of colsProd">
                                <label><strong>{{datosTablaProduccionTotales[col.field]}}</strong></label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <br><br><br>
    </div>


    <div #TOTALES_KILOS_CORRESPONDE_POR_SOCIO class="formgrid row {{mostrar_imprimir.totales_kilos_corresponde_por_socio ? 'mostrarImpresion' : 'ocultarImpresion' }}">
        <div #CAMPOS class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>TOTALES KILOS QUE CORRESPONDE POR SOCIO</strong></h5>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px;" *ngFor="let col of colsRetirosPorSocio">
                                {{col.header}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datosTablaCorresponde">
                            <td style="padding: 2px;" *ngFor="let col of colsRetirosPorSocio">
                                <label
                                    *ngIf="col.field == 'establecimiento' || col.field == 'kg'"><strong>{{dato[col.field]}}</strong></label>
                                <label
                                    *ngIf="col.field != 'establecimiento' && col.field != 'kg'">{{dato[col.field]}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="padding: 2px;" *ngFor="let col of colsRetirosPorSocio">
                                <label><strong>{{datosTablaCorrespondeTotales[col.field]}}</strong></label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <br><br><br>
    </div>


    <div #TOTALES_KILOS_RETIRADOS class="formgrid row {{mostrar_imprimir.totales_kilos_retirados ? 'mostrarImpresion' : 'ocultarImpresion' }}">
        <div #CAMPOS class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>TOTALES KILOS RETIRADOS</strong></h5>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px;" *ngFor="let col of colsRetiros">
                                {{col.header}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datosTablaRetiros">
                            <td style="padding: 2px;" *ngFor="let col of colsRetiros">
                                <label *ngIf="col.field == 'socio'"><strong>{{dato[col.field]}}</strong></label>
                                <label *ngIf="col.field != 'socio'">{{dato[col.field]}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="padding: 2px;" *ngFor="let col of colsRetiros">
                                <label><strong>{{datosTablaRetirosTotales[col.field]}}</strong></label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <br><br><br>
    </div>


    <div #TOTALES_KILOS_SOCIEDAD class="formgrid row {{mostrar_imprimir.totales_kilos_sociedad ? 'mostrarImpresion' : 'ocultarImpresion' }}">
        <div #CAMPOS class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>TOTALES KILOS SOCIEDAD</strong></h5>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px; text-align: right;" *ngFor="let col of colsSociedad">
                                {{col.header}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datosTablaSociedad">
                            <td style="padding: 2px; text-align: right;" *ngFor="let col of colsSociedad">
                                <label *ngIf="col.field == 'socio'"><strong>{{dato[col.field]}}</strong></label>
                                <label *ngIf="col.field != 'socio'">{{dato[col.field]}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="padding: 2px; text-align: right;" *ngFor="let col of colsSociedad">
                                <label><strong>{{datosTablaSociedadTotales[col.field]}}</strong></label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <ul *ngIf="idGranosSeleccionado">
                <li *ngFor="let anotacion of anotaciones[idGranosSeleccionado]['sociedad']">{{anotacion}}</li>
            </ul>
        </div>
        <br>
    </div>


    <div #TOTALES_KILOS_TIJUANA *ngIf="idGranosSeleccionado == '465b2f38ca75'" class="formgrid row {{mostrar_imprimir.totales_kilos_tijuana ? 'mostrarImpresion' : 'ocultarImpresion' }}">
        <div #CAMPOS class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>SOCIEDAD - TIJUANA: ANDION</strong></h5>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px; text-align: right;" *ngFor="let col of colsSociedadTerceros">
                                {{col.header}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datosTablaSociedadTijuana">
                            <td style="padding: 2px; text-align: right;" *ngFor="let col of colsSociedadTerceros">
                                <label *ngIf="col.field == 'socio'"><strong>{{dato[col.field]}}</strong></label>
                                <label *ngIf="col.field != 'socio'">{{dato[col.field]}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="padding: 2px; text-align: right;" *ngFor="let col of colsSociedadTerceros">
                                <label><strong>{{datosTablaSociedadTotalesTijuana[col.field]}}</strong></label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <ul>
                <li *ngFor="let anotacion of anotaciones[idGranosSeleccionado].sociedadTijuana">{{anotacion}}</li>
            </ul>
        </div>
        <br>
    </div>


    <div #TOTALES_KILOS_TRAVIESAS *ngIf="idGranosSeleccionado == '465b2f38ca75'" class="formgrid row {{mostrar_imprimir.totales_kilos_traviesas ? 'mostrarImpresion' : 'ocultarImpresion' }}">
        <div #CAMPOS class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>SOCIEDAD - TRAVIESAS: MANANTIAL POZO</strong></h5>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="padding: 3px; text-align: right;" *ngFor="let col of colsSociedadTerceros">
                                {{col.header}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datosTablaSociedadTraviesas">
                            <td style="padding: 2px; text-align: right;" *ngFor="let col of colsSociedadTerceros">
                                <label *ngIf="col.field == 'socio'"><strong>{{dato[col.field]}}</strong></label>
                                <label *ngIf="col.field != 'socio'">{{dato[col.field]}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="padding: 2px; text-align: right;" *ngFor="let col of colsSociedadTerceros">
                                <label><strong>{{datosTablaSociedadTotalesTraviesas[col.field]}}</strong></label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
            <ul>
                <li *ngFor="let anotacion of anotaciones[idGranosSeleccionado].sociedadTraviesas">{{anotacion}}</li>
            </ul>
        </div>
        <br>
    </div>


    <div #TOTALES_RETIRADOS_CAMPOS class="formgrid row {{mostrar_imprimir.totales_retirados_campos ? 'mostrarImpresion' : 'ocultarImpresion' }}"> 
        <div #CAMPOS class="field col">
            <div class="tablaDatos" style="margin: 0px 0px 30px 0px;">
                <h5 style="text-align: center;"><strong>RESUMEN TOTAL POR ESTABLECIMIENTOS</strong></h5>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th colspan="7" style="padding: 3px; text-align: center; border: 1px solid black;">
                                PRODUCCION
                            </th>
                            <th colspan="5" style="padding: 3px; text-align: center; border: 1px solid black;">
                                CORRESPONDE
                            </th>
                            <th colspan="5" style="padding: 3px; text-align: center; border: 1px solid black;">
                                RETIROS
                            </th>
                            <th colspan="6" style="padding: 3px; text-align: center; border: 1px solid black;">
                                SALDOS
                            </th>
                        </tr>
                        <tr>
                            <th style="border-left: 1px solid black; text-align: center">
                                Enc.
                            </th>
                            <th style="text-align: center">
                                Establecimiento
                            </th>
                            <th style="text-align: center">
                                Has
                            </th>
                            <th style="text-align: center">
                                De Trilla
                            </th>
                            <th style="text-align: center">
                                A Silo
                            </th>
                            <th style="text-align: center">
                                TOTAL
                            </th>
                            <th style="border-right: 1px solid black; text-align: center">
                                RINDE
                            </th>
                            <th style="text-align: center">
                                NORTE
                            </th>
                            <th style="text-align: center">
                                YAGUA
                            </th>
                            <th style="text-align: center">
                                PLANJAR
                            </th>
                            <th style="text-align: center">
                                TIJUANA
                            </th>
                            <th style="border-right: 1px solid black; text-align: center">
                                TRAVIESAS
                            </th>
                            <th style="text-align: center">
                                NORTE
                            </th>
                            <th style="text-align: center">
                                YAGUA
                            </th>
                            <th style="text-align: center">
                                PLANJAR
                            </th>
                            <th style="text-align: center">
                                TIJUANA
                            </th>
                            <th style="border-right: 1px solid black; text-align: center">
                                TRAVIESAS
                            </th>
                            <th style="text-align: center">
                                NORTE
                            </th>
                            <th style="text-align: center">
                                YAGUA
                            </th>
                            <th style="text-align: center">
                                PLANJAR
                            </th>
                            <th style="text-align: center">
                                TIJUANA
                            </th>
                            <th style="border-right: 1px solid black; text-align: center">
                                TRAVIESAS
                            </th>
                            <th style="border-right: 1px solid black; text-align: center">
                                EN BOLSON
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dato of datosTablaRetirosSocio">
                            <td style="padding: 2px; text-align: right;" *ngFor="let col of colsRetirosCampos">
                                <label *ngIf="col.field == 'encargado'"><em>{{dato[col.field]}}</em></label>
                                <label *ngIf="col.field == 'establecimiento'"><strong>{{dato[col.field]}}</strong></label>
                                <label *ngIf="col.field == 'total'"><strong>{{transformarDatoMostrarTabla(dato[col.field], 'numero')}}</strong></label>
                                <label *ngIf="col.field == 'saldo_bolsones'"><strong>{{transformarDatoMostrarTabla(dato[col.field], 'numero')}}</strong></label>
                                <label *ngIf="col.field == 'rinde'"><em>{{transformarDatoMostrarTabla(dato[col.field], 'numero')}}</em></label>
                                <label *ngIf="(col.field != 'establecimiento') && (col.field != 'total') && (col.field != 'saldo_bolsones') && (col.field != 'rinde') && (col.field != 'encargado')">{{transformarDatoMostrarTabla(dato[col.field], 'numero')}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="padding: 2px; text-align: right;" *ngFor="let col of colsRetirosCampos">
                                <label *ngIf="col.field == 'establecimiento'"><strong>TOTAL:</strong></label>
                                <label *ngIf="col.field != 'establecimiento'"><strong>{{transformarDatoMostrarTabla(datosTablaRetirosSocioTotales[col.field], 'numero')}}</strong></label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <br>
    </div>

    
    <div class="ocultarImpresion formgrid row">
        <div class="field col">
            <button (click)="display_imprimir = true" style="margin-left: 50px;">IMPRIMIR</button>
        </div>
    </div>
</div>


<p-dialog class="ocultarImpresion" header="IMPRIMIR" [(visible)]="display_imprimir" [style]="{width: '500px', height: '500px'}">

    <div class="formgrid row">
        <div class="field col">
            <ul>
                <li>
                    <input type="checkbox" [(ngModel)]="mostrar_imprimir.datos">
                    <label for="item1">datos</label>
                </li>
                <li>
                    <input type="checkbox" [(ngModel)]="mostrar_imprimir.produccion_campos">
                    <label for="item2">produccion_campos</label>
                </li>
                <li>
                    <input type="checkbox" [(ngModel)]="mostrar_imprimir.totales_kilos_corresponde_por_socio">
                    <label for="item3">totales_kilos_corresponde_por_socio</label>
                </li>
                <li>
                    <input type="checkbox" [(ngModel)]="mostrar_imprimir.totales_kilos_retirados">
                    <label for="item4">totales_kilos_retirados</label>
                </li>
                <li>
                    <input type="checkbox" [(ngModel)]="mostrar_imprimir.totales_kilos_sociedad">
                    <label for="item5">totales_kilos_sociedad</label>
                </li>
                <li>
                    <input type="checkbox" [(ngModel)]="mostrar_imprimir.totales_kilos_tijuana">
                    <label for="item6">totales_kilos_tijuana</label>
                </li>
                <li>
                    <input type="checkbox" [(ngModel)]="mostrar_imprimir.totales_kilos_traviesas">
                    <label for="item7">totales_kilos_traviesas</label>
                </li>
                <li>
                    <input type="checkbox" [(ngModel)]="mostrar_imprimir.totales_retirados_campos">
                    <label for="item8">RESUMEN TOTAL POR ESTABLECIMIENTOS</label>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="imprimir()" label="IMPRIMIR" styleClass="p-button-success"></p-button>
    </ng-template>
</p-dialog>