.container {
    position: relative;
}

.image {
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
}

.imagenes {
    width: 500px;
}

.tarjeta {
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}